<li id="<%= comment.anchor %>" class="article-comment">
  <div class="article-comment-inner">

  <div class="comment-content comment-logged-<%= comment.author ? 'in' : 'out' %> <%= 'comment-from-owner' if ( comment.author && (profile == comment.author) ) %>">

  <% if comment.author %>
    <%= link_to image_tag(profile_icon(comment.author, :minor)) +
                content_tag('span', comment.author_name, :class => 'comment-info'),
        comment.author.url,
        :class => 'comment-picture',
        :title => comment.author_name
    %>
  <% else %>
    <% url_image, status_class = comment.author_id ?
       [comment.removed_user_image, 'icon-user-removed'] :
       [gravatar_profile_image_url( comment.email, :size => 50, :d=>404 ), 'icon-user-unknown'] %>

    <%= link_to(
          image_tag(url_image, :onerror=>'gravatarCommentFailback(this)',
                   'data-gravatar'=>gravatar_profile_image_url(comment.email, :size=>50)) +
          content_tag('span', comment.author_name, :class => 'comment-info') +
          content_tag('span', comment.message,
                             :class => 'comment-user-status ' + status_class),
        gravatar_profile_url(comment.email),
        :target => '_blank',
        :class => 'comment-picture',
        :title => '%s %s' % [comment.author_name, comment.message]
    )%>
  <% end %>

  <% comment_balloon do %>

    <div class="comment-details">
      <div class="comment-header">
        <%= comment_actions(comment) %>
      </div>

      <div class="comment-created-at">
        <%= show_time(comment.created_at) %>
      </div>
      <h4><%= comment.title.blank? && '&nbsp;' || comment.title %></h4>
      <div class="comment-text">
        <p/>
        <%= txt2html comment.body %>
      </div>
      <%= @plugins.dispatch(:comment_extra_contents, local_assigns).collect { |content| instance_exec(&content) }.join("") %>
    </div>

    <div class="comment_reply post_comment_box closed" id="comment_reply_to_<%= comment.id %>">
      <% if @comment && @comment.errors.any? && @comment.reply_of_id.to_i == comment.id %>
        <%= error_messages_for :comment %>
        <script type="text/javascript">
          jQuery(function() {
            document.location.href = '#<%= comment.anchor %>';
            add_comment_reply_form('#comment-reply-to-<%= comment.id %>', <%= comment.id %>);
          });
        </script>
      <% end %>
    </div>

  <% end %>

  </div>

  <% unless comment.replies.blank? || comment.spam? %>
  <ul class="comment-replies">
    <% comment.replies.each do |reply| %>
      <%= render :partial => 'comment/comment', :locals => { :comment => reply } %>
    <% end %>
  </ul>
  <% end %>

  </div>
</li>
