<% if profile.person? %>
  <h1><%= _('Invite your friends') %></h1>
<% else %>
  <h1><%= _('Invite your friends to join %s') % profile.name %></h1>
<% end %>

<% if profile.community? %>
  <h2><%= _('Invite registered users') %></h2>
  <p><%= _('You can search for user profiles and invite them to join this community.') %></p>
  <%= form_tag :action => 'invite_registered_friend' do %>
    <% search_action = url_for(:action => 'search_friend') %>
    <%= token_input_field_tag(:q, 'search-friends', search_action,
                              { :hint_text => _('Type in your friend\'s %{search_fields}') % {:search_fields => @search_friend_fields},
                                :focus => false }) %>

    <% button_bar do %>
      <%= submit_button('save', _('Invite'))%>
      <%= button('cancel', _('Cancel'), profile.url)%>
    <% end %>
  <% end %>

  <br />
  <h2><%= _('Invite people from my e-mail contacts') %></h2>
  <% header = 'h3' %>

<% end %>

<%= render :partial => 'invite/select_address_book', :locals => {:header => header} %>

<div id="loadingScreen"></div>
