<table>
  <tr>
    <th><%= _('Name') %></th>
    <td><%= request.name %></td>
  </tr>
  <tr>
    <th><%= _('Address') %></th>
    <td><%= request.address %></td>
  </tr>
  <tr>
    <th><%= _('Contact Phone') %></th>
    <td><%= request.contact_phone %></td>
  </tr>
  <tr>
    <th><%= _('Contact Person') %></th>
    <td><%= request.contact_person %></td>
  </tr>
  <tr>
    <th><%= _('Acronym') %></th>
    <td><%= request.acronym %></td>
  </tr>
  <tr>
    <th><%= _('Identifier') %></th>
    <td><%= request.identifier %></td>
  </tr>
  <tr>
    <th><%= _('Foundation Year') %></th>
    <td><%= request.foundation_year %></td>
  </tr>
  <tr>
    <th><%= _('Legal Form') %></th>
    <td><%= request.legal_form %></td>
  </tr>
  <tr>
    <th><%= _('Economic Activity') %></th>
    <td><%= request.economic_activity %></td>
  </tr>
  <tr>
    <th><%= _('Management Information') %></th>
    <td><%= request.management_information %></td>
  </tr>
</table>
