<h1><%= _('Enterprise validations') %></h1>

<% button_bar do %>
  <%= button(:edit, _('Edit validation info'), { :action => 'edit_validation_info' }) %>
  <%= button(:back, _('Go Back'), { :controller => 'profile_editor' }) %>
<% end %>

<h2><%= _("Pending enterprise validations") %></h2>

<% for pending in @pending_validations %>
  <h3><%= pending.name %></h3>
  <ul>
    <li>
      <strong><%= _('Address') %>:</strong>
      <%= pending.address %>
    </li>
    <li>
      <strong><%= _('Contact Phone') %>:</strong>
      <%= pending.contact_phone %>
    </li>
    <li>
      <strong><%= _('Contact Person') %>:</strong>
      <%= pending.contact_person %>
    </li>
  </ul>

  <%= link_to _("See details/approve/reject"), :action => 'details', :id => pending.code %>
<% end %>

<h2><%= _('Processed enterprise validations') %></h2>

<p><%= link_to _("See the list of processed enterprise validations"), :action => 'list_processed' %></p>

