    <%= javascript_include_tag 'strophejs-1.0.1/strophe', 'jquery.emoticon', '../designs/icons/pidgin/emoticons.js', 'ba-linkify', 'jquery.ba-hashchange', 'jquery.sound', 'chat', 'perfect-scrollbar.min.js', 'perfect-scrollbar.with-mousewheel.min.js', :cache => 'cache/chat' %>
    <%= stylesheet_link_tag 'perfect-scrollbar.min.css' %>

    <% extend ChatHelper %>

    <script type='text/javascript'>
      var $presence_status_label = {
        chat: '<%= _('Online') %>',
        dnd: '<%= _('Busy') %>',
        '': '<%= _('Offline') %>'
      };
      var $own_name = '<%= user.name %>';
      var $starting_chat_notice = '<%= _("starting chat with %{name}") %>';
      var $muc_domain = '<%= "conference.#{environment.default_hostname}" %>';
      var $user_unavailable_error = '<%= _("<strong>ooops!</strong> The message could not be sent because the user is not online") %>';
      var $update_presence_status_every = <%= User.expires_chat_status_every.minutes %>;
    </script>


  <% presence = current_user.last_chat_status %>
  <script>
    jQuery(function($) {
    <% if presence.blank? or presence == 'chat' %>
      $('#chat-connect').trigger('click');
    <% else %>
      $('#chat-busy').trigger('click');
    <% end %>
    });
  </script>

  <div id='chat'>
    <div id='buddy-list'>
      <div class='toolbar'>
        <div id='user-status'>
          <span class="avatar"></span>
          <%= user_status_menu('icon-menu-offline', _('Offline')) %>
        </div>
        <div class='dialog-error' style='display: none'></div>
      </div>
      <div id='title-bar'>
        <h1 class='title'><%= _("Online") % h(page_title) %>&nbsp;(<span id='friends-online'>0</span>)</h1>
      </div>
      <ul class='buddy-list'>
      </ul>
    </div>
    <div id='chat-window'>
      <div id='conversations'></div>
    </div>

    <div id="chat-templates">
      <div class='conversation' style="display: none;">
        <div class="header">
          <span class="chat-target">
            <img class="avatar">
            <span class="other-name"></span>
          </span>
          <a href="#" class="back"><%= _('Back') %></a>
        </div>
        <div class='history'></div>
        <div class='input-div'>
            <div class='icon-chat'></div>
            <textarea class='input'></textarea>
        </div>
      </div>

      <div class="buddy-item">
        <li class='%{presence_status}'>
          <a id='%{jid_id}' class='icon-menu-%{presence_status}-11' href='#'>
            %{avatar}
            <span class="name">%{name}<span>
            <span class="unread-messages icon-chat"></span>
          </a>
        </li>
      </div>

      <div class="message">
        <div data-who="%{who}" class="message %{who}">
          <div class="author">
            %{avatar}
            <h5 class="%{who}-name">%{name}</h5>
          </div>
          <div class="content">
            <span class="time">%{time}</span>
            <p>%{message}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
