<h1><%= _('Manage licenses') %></h1>
<table style='overflow: hidden;'>
  <tr>
    <th style='width: 25%'><%= _('Name') %></th>
    <th style='width: 60%'><%= _('Url reference') %></th>
    <th style='width: 15%'><%= _('Actions') %></th>
  </tr>
  <% @licenses.each do |license| %>
    <tr>
      <td title="<%= license.name%>"><%= truncate(license.name, :length => 19) %></td>
      <td title="<%= license.url %>"><%= license.url.present? ? link_to(truncate(license.url, :length => 60), license.url, :target => '_blank') : '' %></td>
      <td style='white-space: nowrap;'>
        <%= button_without_text :edit, _('Edit'), :action => 'edit', :license_id => license.id %>
        <%= button_without_text :remove, _('Remove'), {action: 'remove', license_id: license.id}, method: 'post', data: {confirm: _('Are you sure you want to remove this license?')} %></td>
    </tr>
  <% end %>
</table>

<% button_bar do %>
  <%= button(:add, _('Add a new license'), :action => 'create')%>
  <%= button :back, _('Back to admin panel'), :controller => 'admin_panel' %>
<% end %>
