  <tr>
    <td style="width: 11%">
      <%= link_to(profile_image(activity.user, :minor), activity.user.url) %>
    </td>
    <td>
      <p>
        <span style="font-size: 14px;"><%= link_to activity.user.name, activity.user.url %> <%= describe activity %></span>
        <span style="font-size: 10px; color: #929292; float:right;"><%= time_ago_as_sentence(activity.created_at) %></span>
      </p>
  </td>
</tr>
<div title='<%= activity.target.class.short_description %>' class='profile-activity-icon icon-new icon-newgallery'></div>
<br/>
