<div style="background-color: #EEEEEE">
  <table style="width: 100%;"><tbody><tr><td align="center">
  <div style="display: table; background-color: white; margin: 26px 0;">
    <div style="padding: 25px 20px 20px 20px;text-align: left;">
      <%= link_to @url, :style => "text-decoration: none;" do %>
        <span style="font-weight:bold;font-size: 28px;margin: 0;color: white;background-color: #AAAAAA;padding: 5px;"><%= @environment.name %></span>
      <% end %>
      <span style="font-weight:bold;color: #333;font-size:19px;margin-left: 8px;"><%= _("%s's Notifications") % @profile.name %></h3>
    </div>
    <div style="margin: 0 20px 20px 20px;border-top:1px solid #e2e2e2;">
      <% if @tasks.present? %>
        <div style="border-top: 1px solid #e2e2e2;">
          <div style="border-bottom: 1px solid #CBCBCB;padding-top: 15px;font-weight: bold;text-align: right;color: #7c7c7c;float: right;min-width: 140px;">
            <%= _('Tasks') %>
          </div>
          <%= render :partial => 'task', :collection => @tasks %>
        </div>
      <% end %>

      <% if @notifications.present? %>
        <div style="border-top: 1px solid #e2e2e2;">
          <div style="border-bottom: 1px solid #CBCBCB;padding-top: 15px;font-weight: bold;text-align: right;color: #7c7c7c;float: right;min-width: 140px;">
            <%= _('Network Activity') %>
          </div>
          <% @notifications.each do |activity| %>
              <div style="border-bottom:1px solid #e2e2e2;padding:15px 0;width:600px">
              <table style="width:100%;">
                <%= render activity.verb, activity: activity %>
              </table>
            </div>
          <% end %>
        </div>
      <% end %>

      <div style="color:#444444;font-size:11px;margin-bottom: 20px;">
        <p style="margin:0"><%= _("Greetings,") %></p>
        <p style="margin:0"><%= _('%s team.') % @environment.name %></p>
        <p style="margin:0"><%= link_to @url, url_for(@url) %></p>
      </div>
    </div>
  </td></tr></tbody></table>
</div>
