<div id="memberships-index">

<h1><%= _('Manage my groups') %></h1>

<% button_bar do %>
  <%= button(:add, __('Create a new community'), :controller => 'memberships', :action => 'new_community') %>
  <%= button :add, __('Register a new enterprise'), :controller => 'enterprise_registration' if environment.enabled?('enterprise_registration') %>
  <%= button :back, _('Go back'), :controller => 'profile_editor' %>
<% end %>

<%= render :partial => 'shared/list_groups', :locals => {:groups => @memberships} %>

</div>
