<div class="cycle">
  <div class='happening'><%= t('views.gadgets._cycle.happening') %></div>
  <div class='info'>
    <h2>
      <%= t('views.gadgets._cycle.orders_open_b_cycle') % {:cycle => cycle.name_with_code} %>
    </h2>

    <table>
      <tr>
        <td class='first-column'>
          <%= render :partial => 'orders_cycle_plugin_cycle/view_dates',
            :locals => {:cycle => cycle, :happening => false} %>
        </td>
        <td class='second-column'>
          <div class="subtitle"><%= cycle.description %></div>
        </td>
        <td class='third-column'>
          <%= button_to t('views.gadgets._cycle.see_orders_cycle'), {:controller => :orders_cycle_plugin_order, :action => :edit, :cycle_id => cycle.id}, :class => "action-button" %>
          <%# button_to t('views.gadgets._cycle.place_an_order'), {:controller => :orders_cycle_plugin_order, :action => :new, :cycle_id => cycle.id} %>
          <div class='clean'></div>
        </td>
      <tr>
    </table>
  </div>
</div>
