<%= javascript_include_tag 'plugins/events/jquery.e-calendar' %>
<%= block_title(block.view_title, block.subtitle) %>

<div class="events-block" id="events-block-<%= block.id %>"></div>

<script>
  $(document).ready(function () {
    $('#events-block-<%= block.id %>').eCalendar({
      weekDays: <%= %w(S M T W T F S).collect{|day| c_(day)}.to_json %>,
      months: <%= %w(January February March April May June July August September October November December).collect{|m| c_(m)}.to_json %>,
      textArrows: { previous: '<', next: '>' },
      eventTitle: '<%= c_('Events') %>',
      url: '',
      events: [
      <% block.events.each do |event| %>
        {
          title: '<%= link_to(event.title, event.view_url) %>',
          description: '',
          datetime: new Date(<%= event.start_date.to_i %>000)
        }
      <% end %>
      ]
    });
  });
</script>
