<div class="cycle-products-table sortable-table">
  <%= pagination_links @products %>
  <div id="result-count">
    <small><%= t('views.cycle._product_lines.showing_pcount_produc') % {pcount: @products.length, allpcount: @cycle.products.count} %></small>
  </div>
  <div class='table-header'>
    <span class='box-field category'><%= t('views.cycle._product_lines.category') %></span>
    <span class='box-field supplier'><%= t('views.cycle._product_lines.supplier') %></span>
    <span class='box-field name'><%= t('views.cycle._product_lines.product') %></span>
    <span class="box-field price"><%= t('views.cycle._product_lines.price') %></span>
    <span class="box-field quantity-available"><%= t('views.cycle._product_lines.qty_avail') %></span>
    <span class="box-field actions"></span>

    <div class="clean"></div>
  </div>

  <div class='table-content'>
    <% @products.each do |p| %>
      <div id="cycle-product-<%=p.id%>" class='cycle-product value-row' toggle-edit="orders_cycle.offered_product.edit();">
        <%= render 'orders_cycle_plugin_product/cycle_edit', p: p %>
      </div>
    <% end %>
    <%= javascript_tag do %>
      jQuery(document).ready(function() {
        orders_cycle.ajaxifyPagination("#cycle-products .table")
      })
    <% end %>
  </div>
</div>

