<ul>
  <li><%= (content_tag('strong', _('Title') + ': ') + article.title)  if article.title %> </li>
  <li><%= (content_tag('strong', _('Type') + ': ') + article.class.short_description) %> </li>
  <li>
  <%= (content_tag('strong', _('Original content') + ': ') + link_to(article.name, article.url)) %> <br />
    <%= content_tag('small', _('This link might be unavailable if the content is removed')) %>
  </li>
</ul>

<%= article_to_html(article) %>
