<div class="common-profile-list-block">
  <h1><%= _("%s's sub-%s") % [profile.name, organization_type.pluralize] %></h1>

  <ul class='profile-list'>
    <% organizations.each do |organization| %>
      <%= profile_image_link(organization)%>
    <% end %>
  </ul>
  <% if organizations.length == 0 %>
    <li><%= _("There are no sub-%s yet.")  % organization_type.pluralize %></li>
  <% end %>
  <% button_bar(:class => "related-organizations-button-bar") do %>
    <%= button :back, c_('Go back'), { :controller => 'profile' } %>
    <%= button :add, _("Add a new %s") % organization_type, :controller => 'sub_organizations_plugin_myprofile', :action => 'index' if logged_in? && user.has_permission?(:edit_profile, profile) && !environment.enabled?("disable_asset_#{organization_type.pluralize}") %>

    <% if !@full %>
      <%= button :more, c_('View all'), { :controller => 'sub_organizations_plugin_profile', :action => params[:action], :type => organization_type } %>
    <% end %>
  <% end %>
</div>
<% if @full %>
  <div id='pagination-profiles'>
    <%= pagination_links(organizations, {:param_name => 'npage', :page_links => true})  %>
  </div>
<% end %>
<!-- fim class="common-profile-list-block" -->
