<strong><%= _('Highlights') %></strong>

<table class="noborder"><tbody id="highlights-data-table">
  <tr><th><%= _('Image') %></th><th><%= _('Address') %></th><th><%= _('Position') %></th></tr>
  <% for image in @block.images do %>
    <%= highlights_block_config_image_fields @block, image %>
  <% end %>
</tbody></table>

<%= link_to_function(_('New highlight'), nil, :class => 'button icon-add with-text') do |page|
  page.insert_html :bottom, 'highlights-data-table', highlights_block_config_image_fields(@block)
end %>

<%= labelled_form_field _('Image transition:'), select('block', 'interval', [[_('No automatic transition'), 0]] + [1, 2, 3, 4, 5, 10, 20, 30, 60].map {|item| [n_('Every 1 second', 'Every %d seconds', item) % item, item]}) %>

<%= labelled_form_field check_box(:block, :shuffle) + _('Show images in random order'), '' %>

<%= labelled_form_field check_box(:block, :navigation) + _('Display navigation buttons'), '' %>
