<h1><%= _("Manage comments labels") %></h1>

<div id='comment-classification-labels'>
  <% if @labels.empty? %>
    <%= _('(no label registered yet)') %>
  <% else %>
    <table>
      <tr>
        <th><%= _('Label') %></th>
        <th><%= _('Color') %></th>
        <th><%= _('Enabled') %></th>
        <th><%= _('Actions') %></th>
      </tr>
      <% @labels.each do |label| %>
        <tr>
          <td><%= label.name %></td>
          <td><%= label.color %></td>
          <td><%= label.enabled %></td>
          <td>
            <%= button_without_text :edit, c_('Edit'), {:action => 'edit', :id => label} %>
            <%= button_without_text :delete, c_('Remove'), {:action => 'destroy', :id => label}, :confirm => _('Are you sure you want to  remove this label?') %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <% button_bar do %>
    <%= button(:add, _('Add a new label'), :action => 'create')%>
    <%= button :back, c_('Back to admin panel'), :controller => 'admin_panel' %>
  <% end %>
</div>
