<li class="search-blog article-item">
  <div class="search-content-first-column">
    <%= render partial: 'image', object: blog %>
  </div>

  <div class="noborder search-content-second-column">
    <h2>
      <%= link_to blog.title, blog.view_url, class: 'search-result-title' %>
    </h2>
    <%= render partial: 'article_last_change', object: blog %>

    <div class="search-blog-items">
      <span class="search-field-label"><%= _("Last posts") %></span>

      <% last_posts = blog.last_posts %>
      <span class="<%= "search-field-none" if last_posts.empty? %>">
        <% last_posts.each do |post| %>
          <%= link_to post.title, post.view_url, :class => 'search-blog-sample-item '+icon_for_article(post) %>
        <% end %>
        <%= _('None') if last_posts.empty? %>
      </span>
    </div>

    <%= render partial: 'article_common', object: blog %>
  </div>
</li>
