<li class="search-folder-item article-item">
  <div class="search-content-first-column">
    <%= render :partial => 'image', :object => folder %>
  </div>

  <div class="noborder search-content-second-column">
    <h2>
      <%= link_to folder.title, folder.view_url, :class => 'search-result-title' %>
    </h2>
    <%= render partial: 'article_last_change', object: folder %>

    <%= render partial: 'article_common', object: folder %>

    <div class="search-folder-items">
      <% r = folder.children.last(3) %>
      <% unless r.empty? %>
        <span class="search-field-label"><%= _("Last items") %></span>
        <% r.each do |a| %>
          <span class="folder-item">
            <%= link_to a.title, a.view_url, class: 'search-folder-sample-item '+ icon_for_article(a) %>
          </span>
        <% end %>
      <% end %>
    </div>
  </div>
</li>
