<li class="search-profile-item">
  <div class="search-enterprise-item">
    <div class="search-enterprise-item-column-left">
      <%= profile_image_link enterprise, :portrait, 'div',
        @order == 'more_recent' ? enterprise.send(@order + '_label') + show_date(enterprise.created_at) : enterprise.send(@order + '_label') %>
    </div>
    <div class="search-enterprise-item-column-right">
      <%= link_to_homepage enterprise.name, enterprise, class: "search-result-title" %>
      <div class="search-enterprise-description">
        <% if enterprise.description %>
          <% body_stripped = strip_tags(enterprise.description) %>
        <% elsif enterprise.home_page and enterprise.home_page.body %>
          <% body_stripped = strip_tags(enterprise.home_page.body) %>
        <% end %>
        <%= excerpt body_stripped, body_stripped.first(3), radius: 200 if body_stripped %>
      </div>
      <div class="search-enterprise-region">
        <span class="search-enterprise-region-label"><%= _("City") %></span>
        <% if enterprise.region %>
          <span class="search-enterprise-region-name"><%= city_with_state(enterprise.region) %></span>
        <% end %>
      </div>

      <div class="search-enterprise-categorization">
        <% enterprise.top_level_categorization.each do |parent, children| %>
          <div class="search-enterprise-category-<%=parent.id%> search-enterprise-category">
            <span class="search-enterprise-categorization-parent"><%= parent.name %></span>
            <span class="search-enterprise-categorization-children">
              <%= children.collect(&:name).join(', ')  %>
            </span>
          </div>
        <% end %>
      </div>
    </div>

    <hr class="clearfix" />
  </div>
</li>
