<div class='search-form'>

  <%= form_tag( { :controller => 'search', :action => @asset ? @asset : 'index', :asset => nil, :category_path => ( @category ? @category.path : nil ) },
                 :method => 'get', :class => 'search_form' ) do %>

    <%= hidden_field_tag :display, params[:display] %>
    <%= hidden_field_tag :filter, params[:filter] %>

    <div class="search-field">
      <span class="formfield">
        <%= text_field_tag 'query', @query, :id => 'search-input', :size => 50 %>
        <%= javascript_tag "jQuery('#search-input').attr('title', \"#{hint}\").hint()" if defined?(hint) %>
      </span>

      <%= submit_button(:search, _('Search')) %>
    </div>

    <%= render :partial => 'search_form_extra_fields' %>

  <% end %>

  <% if @empty_query %>
    <% hint = environment.search_hints[@asset] %>
    <% if hint and !hint.blank? %>
      <div class="search-hint"><%= hint %></div>
    <% end %>
  <% end %>

  <div style="clear: both"></div>
</div>
