<div id='search-header'>
  <%= assets_menu(@asset) %>
  <%= filters(@asset) %>
  <div class="clear"></div>
</div>

<div id='search-subheader'>
  <%= assets_submenu(@asset) %>
</div>
<div class="search-field">
  <span class="formfield">
    <%= search_input_with_suggestions('query', @asset, @query, {:id => 'search-input', :size => 50, :placeholder => hint}) %>
  </span>

  <%= submit_button(:search, _('Search')) %>
</div>

<%= render :partial => 'search_form_extra_fields' %>


<% if @empty_query %>
  <% hint = environment.search_hints[@asset] %>
  <% if hint and !hint.blank? %>
    <div class="search-hint"><%= hint %></div>
  <% end %>
<% end %>
