<%= search_page_title( @titles[:articles], @category ) %>

<div id="search-column-left">
  <% if !@empty_query %>
    <%= facets_menu(:articles, @facets) %>
  <% end %>
</div>

<div id="search-column-right">
  <%= render :partial => 'search_form', :locals => { :hint => _('Type the title, author or content desired') } %>
  <%= render :partial => 'results_header' %>

  <%= display_results %>
  <%= pagination_links @results[:articles] %>
</div>

<div style="clear: both"></div>
