<%= search_page_title( @titles[:communities], @category ) %>

<div id='search-column-left'>
  <% if logged_in? %>
    <% button_bar do %>
      <%# FIXME shouldn't the user create the community in the current environment instead of going to its home environment? %>
      <%= button(:add, __('New community'), user.url.merge(:controller => 'memberships', :action => 'new_community', :profile => user.identifier)) %>
    <% end %>
  <% end %>

  <% if !@empty_query %>
    <%= facets_menu(:communities, @facets) %>
  <% end %>
</div>

<div id='search-column-right'>
  <%= render :partial => 'search_form', :locals => { :hint => _("Type words about the community you're looking for") } %>
  <%= render :partial => 'results_header' %>

  <%= display_results %>
  <%= pagination_links @results.values.first %>
</div>

<div style="clear: both"></div>

