<%= search_page_title( @titles[:enterprises], @category ) %>

<div id="search-column-left">
  <% if logged_in? && environment.enabled?('enterprise_registration') %>
    <% button_bar do %>
      <%= button(:add, __('New enterprise'), {:controller => 'enterprise_registration'}) %>
    <% end %>
  <% end %>

  <% if !@empty_query %>
    <% button_bar do %>
      <%= display_map_list_button %>
    <% end %>
    <%= facets_menu(:enterprises, @facets) %>
  <% end %>
</div>

<div id="search-column-right">
  <%= render :partial => 'search_form', :locals => { :hint => _("Type words about the enterprise you're looking for") } %>
  <%= render :partial => 'results_header' %>

  <%= display_results(true) %>
  <% if params[:display] != 'map' %>
    <%= pagination_links @results[:enterprises] %>
  <% end %>
</div>

<div style="clear: both"></div>
