<% task.abuse_reports.each do |abuse_report| %>
  <div class='abuse-report gray-border-top'>
    <% reporter = abuse_report.reporter %>
    <div class="abuse-report-header">
      <div>
        <%= font_awesome('exclamation-circle') %>
        <%= link_to(reporter.name, reporter.url, :class => 'abuse-reporter-name') %>
        <span class="abuse-report-time">
          <span class="bullet-separator">•</span>
          <%= time_ago_in_words(abuse_report.created_at) %>
        </span>
      </div>
      <%= link_to _('View deatils'), '#!', :class => 'toggle-link',
                  :data => {:element => "abuse-report-details-#{abuse_report.id}"} unless abuse_report.content.blank?%>
    </div>
    <p class="abuse-report-reason">
      "<%= abuse_report.reason %>"
    </p>
    <% unless abuse_report.content.blank? %>
      <div id=<%= "abuse-report-details-#{abuse_report.id}" %> class='abuse-report-details'>
        <%= abuse_report.content.html_safe %>
      </div>
    <% end %>
  </div>
<% end %>
