<%= button_bar(class: 'task-actions') do %>
  <% unless task.accept_disabled? %>

    <div class='custom-task-decisions'>
      <%= labelled_radio_button(_("Yes, I will go!"), "tasks[#{task.id}][task][decision]",
            0, false, class: "task-invite-event-decision-yes", task_id: "#{task.id}") %>

      <%= labelled_radio_button(_("I'm interested"), "tasks[#{task.id}][task][decision]",
            1, false, class: "task-invite-event-decision-maybe", task_id: "#{task.id}") %>

      <%= labelled_radio_button(_("I will not, thank you"), "tasks[#{task.id}][task][decision]",
            2, false, class: "task-invite-event-decision-no", task_id: "#{task.id}") %>

      <%= labelled_radio_button(_("Skip"), "tasks[#{task.id}][task][decision]",
            3, true, class: "task-invite-event-decision-unconfirmed", task_id: "#{task.id}") %>
    </div>

    <div class="task-decisions">
      <% [["accept", "finish"],
          ["skip", "skip"]].each do |task_name, task_action| %>

          <%= labelled_radio_button(_(task_name.capitalize), "tasks[#{task.id}][decision]",
                task_action, task.default_decision == task_name, id: "decision-#{task_action}-#{task.id}",
                class: "task-#{task_name}-radio", task_id: "#{task.id}") %>
      <% end %>
    </div>
  <% end %>
<% end %>

