<div class="task-box" id="task-<%= task.id %>">

  <div class="task-requestor-img">
    <%= render partial: 'tasks/task_icon', locals: { task: task } %>
  </div>

  <div class="task-description">

    <%= render partial: 'tasks/task_title', locals: { task: task } %>
    <span class="bullet-separator">•</span>
    <div class="task-date"><%= show_time(task.created_at) %></div>

    <% if !@view_only && profile&.organization? && @responsible_candidates.present? %>
      <div class="task_responsible">
        <span class="label"><%= _('Assign to:') %></span>
        <span>
          <% change_responsible_url = url_for :action => :change_responsible, :controller => :tasks %>
          <%= select_tag "tasks[#{task.id}][responsible]", options_from_collection_for_select(@responsible_candidates, :id, :name, task.responsible.present? ? task.responsible.id : nil), :include_blank => true, :onchange => "change_task_responsible(this);", 'data-old-responsible' => task.responsible.present? ? task.responsible.id : nil, 'data-task' => task.id, 'data-url' => change_responsible_url %>
        </span>
      </div>
    <% end %>

    <% if @view_only && task.responsible.present? %>
      <div class="task_responsible">
        <span class="label"><%= _('Assigned to:') %></span>
        <span class="value"><%= task.responsible.name %></span>
      </div>
    <% end %>

    <div class="task-information">
      <%= task_information(task, params) %>
    </div>

    <%= button_bar(class: 'task-actions') do %>
      <%= link_to _("Accept"), '#!', class: 'button btn-blue keep-when-hover accept-task' %>
      <%= link_to _("Reject"), '#!', class: 'button btn-blue-reverse keep-when-hover reject-task' %>
    <% end %>

    <div class="task-decisions">
      <% unless @view_only %>
        <% [["accept", "finish"], ["reject", "cancel"], ["skip", "skip"]].each do |task_name, task_action| %>
          <%= labelled_radio_button(_(task_name.capitalize), "tasks[#{task.id}][decision]", task_action, task.default_decision == task_name,
                                    id: "decision-#{task_action}-#{task.id}",
                                    class: "task-#{task_name}-radio",
                                    disabled: task.accept_disabled?,
                                    task_id: "#{task.id}") %>
        <% end %>
      <% end %>
    </div>

    <%= fields_for "tasks[#{task.id}][task]", task do |f| %>
      <% if task.custom_fields_moderate %>
        <div id="custom-field-information-<%=task.id%>" style="display: none">
          <%= render partial: "tasks/#{task.class.name.underscore}_custom_fields", locals: { task: task } %>
        </div>
      <% end %>

      <% if task.accept_details %>
        <div id="on-accept-information-<%=task.id%>" style="display: none">
          <%= render partial: "tasks/#{task.class.name.underscore}_accept_details", locals: { task: task, f: f } %>
        </div>
      <% end %>

    <% end %>

    <% if task.footer %>
      <div id="task-footer-<%=task.id%>">
        <%= render partial: "tasks/#{task.class.name.underscore}_footer", locals: { task: task } %>
      </div>
    <% end %>
  </div>
</div>
