<h1><%= _("%s's processed tasks") % profile.name %></h1>

<p>
<% if @tasks.empty? %>
  <em><%= _('No processed tasks.') %></em>
<% else %>
  <ul>
    <% @tasks.each do |item| %>
      <li>
        <strong><%= task_information(item) %></strong> <br/>
        <small>
          <%= _('Created:')   +' '+ show_date(item.created_at) %>
          &nbsp; &#151; &nbsp;
          <%= _('Processed:') +' '+ show_date(item.end_date) %>
        </small>
      </li>
    <% end %>
  </ul>
<% end %>
</p>

<% button_bar do %>
  <%= button(:back, _('Back'), :action => 'index') %>
<% end %>
