<div class="comment-group-list">
  <div class="comment_group_<%= group_id %> comment-group">
    <%= inner_html.html_safe %>
    <div class='comment-group-link' >
      <%= link_to_remote(font_awesome(:comment, count.to_s),
        :url => { :profile => profile_identifier, :controller => 'comment_group_plugin_profile',
                  :action => 'view_comments', :group_id => group_id, :article_id => article.id},

        :method => :post,
        :condition => "!toggleGroup(#{group_id})",
        :complete => "loadCompleted(#{group_id})" )%>
    </div>
  </div>


  <div class="comments_list_toggle_group_<%= group_id %>" style="display:none">
    <div id="comments_list_group_<%= group_id %>"></div>
  </div>
</div>
