<div id="remove_friend">

<h1><%= _('Removing friend: %s') % @friend.name %></h1>

<%= profile_image @friend, :thumb, :class => 'friend_picture' %>

<p>
<%= _('Are you sure you want to remove %s from your friends list?') % @friend.name %>
</p>

<p>
<em>
<%= _('Note that %s will still have you as a friend, unless he/she also wants to remove you from his/her friend list.') % @friend.name %>
</em>
</p>

<%= form_tag do %>
  <%= hidden_field_tag(:confirmation, 1) %>

  <%= submit_button(:ok, _("Yes") % @friend.name) %>
  <%= button(:cancel, _("No"), :action => 'index') %>
<% end %>

</div><!-- end id="remove_friend" -->
