<div id="order-page" class="orders page cycle-view">

  <%= render 'orders_cycle_plugin_cycle/view_header', cycle: @cycle %>

  <%= render 'orders_cycle_plugin_cycle/view_products', cycle: @cycle, order: @order %>

  <div id="order-column">
    <%= render 'consumer_orders' %>
  </div>

  <%= javascript_include_tag '/assets/plugins/orders/javascripts/jquery.stickyPanel.js' %>
  <%= javascript_tag do %>
    jQuery(document).ready(function() {
      jQuery('.consumer-order.edit').stickyPanel({
        topPadding: jQuery('#cirandas-top-bar').outerHeight(),
        onReAttached: orders.set_orders_container_max_height
      })
    });
  <% end %>

  <div class="clean"></div>

