<div class='text-editor-sidebar'>
  <span class='button-add' data-value='<%= _('Add to the text') %>'></span>
  <span class='button-zoom' data-value='<%= _('Zoom in') %>'></span>
  <span class='button-close' data-value='<%= _('Close') %>'></span>

  <%= render(:partial => 'textile_quick_reference') if @article.is_a?(TextileArticle) %>
  <div class='text-editor-sidebar-box' id='media-upload-box'>
    <div class='header'><strong><%= _('Insert media') %></strong></div>
    <div id='media-upload-form'>
      <%= form_tag({ :action => 'media_upload' }, :multipart => true) do %>
        <div class='formfield'>
          <% default_folder = content_id_to_str default_folder_for_image_upload(profile) %>
          <%= select_profile_folder(
                _('Choose folder to upload files:'),
                :parent_id, profile, default_folder, {}, {},
                "type='Folder' or type='Gallery'"
          ) %>
        </div>
        <p><%= file_field_tag('file', :multiple => true) %></p>
      <% end %>
    </div>
  </div>

  <div id='published-media' class='text-editor-sidebar-box'>
    <div class='header'><strong><%= _('Published media') %></strong></div>
    <%= render :partial => 'drag_and_drop_note' %>
    <div class='items'>
      <% file_types.each do |key, label| %>
        <% if @recent_files[key].present? %>
          <div class='<%= key.to_s%>'>
            <h3><%= label %></h3>
            <% @recent_files[key].each do |file| %>
              <% @file = file %>
              <%= render :partial => "cms/media_panel/#{key.to_s.singularize}" %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div id='media-search-box' class='text-editor-sidebar-box'>
    <div class='header'><strong><%= _('Media search') %></strong></div>
    <p>
    <%= form_tag({ :action => 'search' }) do %>
      <span class='formfield'>
        <input name='q' type='text' id='media-search-query' style='width: 250px;'/>
      </span>
      <%= submit_button :search, _('Search'), :id => 'media-search-button' %>
    <% end %>
    </p>
    <div id='media-search-results' style='display: none'>
      <%= render :partial => 'drag_and_drop_note' %>
      <div class='items'>
      </div>
    </div>
  </div>
</div>

<script id="template-upload" type="text/x-tmpl">
  <div class="upload">
    {%=o.name%}<span class="percentage"></span>
    <div class="progress"><div class="bar" style="width: 0%;"></div></div>
  </div>
</script>

<%= javascript_include_tag 'jquery.fileupload.js', 'tmpl.js', 'media-upload.js' %>
