<% if @parent %>
  <%= hidden_field_tag('parent_id', @parent.id) %>
<% else %>
  <%= select_profile_folder(_('Choose folder to upload files:'), :parent_id, profile) %>
<% end %>

<div id='uploaded_files'>
  <% 3.times do %>
    <%= render :partial => 'upload_file', :locals => {:size => size} %>
  <% end %>
</div>

<%= hidden_field_tag('back_to', @back_to) %>

<% button_bar do %>
  <%= button_to_function :add, _('More files'), "add_new_file_fields()" %>
  <% if @back_to %>
    <%= submit_button :save, _('Upload'), :cancel => @back_to %>
  <% else %>
    <%= submit_button :save, _('Upload'), :cancel => {:action => (@parent ? 'view' : 'index'), :id => @parent } %>
  <% end %>
<% end %>
