<% if environment.portal_community %>
  <h1><%= _("Publish your article on portal community") %></h1>

  <%= form_tag do%>
    <%= hidden_field_tag :back_to, @back_to %>
    <%= labelled_text_field _('Title') + ': ', :name, @article.name, :style => 'width: 100%' %>

    <% button_bar do %>
      <%= submit_button 'spread', _('Spread this'), :cancel => @back_to %>
    <% end %>
  <% end %>
<% else %>
  <div class='atention'>
    <%= _("There is no portal community in this environment.") %>
  </div>

  <% button_bar do %>
    <%= button :back, _('Back'), :controller => 'cms' %>
  <% end %>
<% end %>

