<div id='new-sensitive-content'>
  <div class='publish-container'>

    <div class='publish-header'>
      <%= link_to(profile_image(current_person, :minor), current_person.url) if logged_in? %>
      <div class='publish-header-infos'>
        <%= sensitive_context_message @sensitive_content, false %>
        <%= path_to_parents @sensitive_content.directory %>
      </div>
    </div>

    <div class='new-sensitive-content-container '>
      <h2><%= _("In which directory do you want to publish?")%></h2>
      <ul class="article-types scrollbar">
        <% for directory in @sensitive_content.directory_options %>
          <%= modal_button(:none, directory_option(directory), url_for(:controller => 'cms',
                :action => 'sensitive_content', :profile => @sensitive_content.profile.identifier,
                :page => directory.id)) %>
        <% end %>
      </ul>
    </div>

    <div class='publish-options'>
      <%= button(:back, "<span>#{_('Back')}</span>".html_safe, '#', :class => 'option-back') %>
      <div class='sensitive-buttons'>
        <%= select_profile_button @sensitive_content %>
      </div>
    </div>

  </div>
</div>
