<div id='new-sensitive-content'>
  <div class='publish-container select-profile'>

    <div class='publish-header'>
      <%= link_to(profile_image(current_person, :minor), current_person.url) if logged_in? %>
      <div class='publish-header-infos'>
        <h1><%= _("You are publishing in profile of")%> <span class='publish-profile'><%= @profile.name %></span></h1>
        <%= path_to_parents %>
      </div>
    </div>

    <div class='new-sensitive-content-container'>
      <h2><%= _("In which profile do you want to publish?")%></h2>

      <% if @profiles.nil? %>
        <ul class="article-types scrollbar">

          <%= content_tag('a', :href => '#action') do %>
            <li>
              <div class='image-profile'>
                <%= profile_image(user, :minor) %>
                <h3><%= user.name %></h3>
              </div>
            </li>
          <% end %>

          <% if profile.communities.present? %>
            <%= content_tag('a', :href => url_for(:controller => 'cms', :action => 'select_profile',
                  :profile => user.identifier, :select_type => 'community'), :class => 'open-modal') do %>
              <li>
                <div class='image-profile'>
                  <%= image_tag(profile_default_image(:community), :class => 'logo') %>
                  <h3><%= _('My communities') %></h3>
                </div>
              </li>
            <% end %>
          <% end %>

          <% if profile.enterprises.present? %>
            <%= content_tag('a', :href => url_for(:controller => 'cms', :action => 'select_profile',
                  :profile => user.identifier, :select_type => 'enterprise'), :class => 'open-modal') do %>
              <li>
                <div class='image-profile'>
                  <%= image_tag(profile_default_image(:enterprise), :class => 'logo') %>
                  <h3><%= _('My enterprises') %></h3>
                </div>
              </li>
            <% end %>
          <% end %>
        </ul>

      <% else %>
        <%= profile_selector modal_url_entry_to_profile_selector(@profiles) %>
      <% end %>
    </div>

    <div class='publish-options'>
      <%= button(:back, "<span>#{_('Back')}</span>".html_safe, '#', :class => 'option-back') %>
      <div class='sensitive-buttons'>

        <%= modal_button(:folder, _('Post to another directory'),
              url_for(:controller => 'cms', :action => 'select_directory', :profile => user.identifier),
              :class => 'option-folder') %>

      </div>
    </div>

  </div>
</div>

<%= javascript_include_tag 'profile_selector' %>
