<h1> <%= t('orders_plugin.lib.plugin.panel_button') %> </h1>

<%= button :back, _('Back to control panel'), controller: 'profile_editor' %>

<div>
  <% if @purchases.present? and @sales.present? %>
    <ul id="orders-tabs" class='nav nav-pills' data-tabs="orders-tabs">
      <li class='active' data-toggle="orders-tabs"><a href='#purchases'><%= t('orders_plugin.terms.purchase.plural') %></a></li>
      <li class='<%= 'active' if @purchases.blank? %>' data-toggle="orders-tabs"><a href='#sales'><%= t('orders_plugin.terms.sale.plural') %></a></li>
    </ul>
  <% end %>

  <% if @purchases.present? %>
    <div id='purchases' class="tab-pane">
      <%= render 'orders_plugin_admin/purchases', actors: profile.sales_all_consumers,
        orders_owner: profile, orders: @purchases, month: @purchases_month, year: @purchases_year, wireframe_size: false %>
    </div>
  <% end %>

  <% if @sales.present? %>
    <div id='sales' class="tab-pane">
      <%= render 'orders_plugin_admin/sales', actors: profile.purchases_all_consumers,
        orders_owner: profile, orders: @sales, month: @sales_month, year: @purchases_year, wireframe_size: false %>
    </div>
  <% end %>
</div>
