<% if @page.belongs_to_blog? || @page.belongs_to_forum?%>
  <h1 class="title">
    <% if no_link %>
      <%= h(@page.title) %>
    <% else %>
      <%= link_to(@page.name, @page.url) %>
    <% end %>
  </h1>
  <%= render :partial => "publishing_info" %>
  <% unless @page.abstract.blank? %>
    <div class="preview">
      <%= @page.lead %>
    </div>
  <% end %>
<% else %>
  <h1 class="title">
    <%= h(@page.title) %>
  </h1>
  <%= render :partial => "publishing_info" %>
<% end %>
