<% if @unfollow_form %>
<div class='unfollow-article'>
  <h1><%= _('Cancel notification of new comments') %></h1>
  <p><%= _("Fill in the following field with your e-mail if you don't want to be notified when this content receives new comments anymore.") %></p>
  <%= form_tag(@page.view_url.merge({:only_path => true}), {:method => 'post', :class => 'comment_form'}) do %>
    <%= hidden_field_tag(:unfollow, 'commit') %>
    <%= labelled_form_field(_('Enter your e-Mail'), text_field_tag(:email, nil, {:size => 40})) %>
    <% button_bar do %>
      <%= submit_button(:ok, _('Cancel notifications for e-mail above') ) %>
    <% end %>
  <% end %>
</div>
<% end %>
