<div class="publishing-info article-actions">
  <div class="content-publication-data">
    <div class="article-date-and-author">
      <span class="date">
        <%= show_time(@page.published_at) %>
      </span>

      <span class="author">
        <%= _(", by %s").html_safe % (@page.author ? link_to(@page.author_name, @page.author_url) : @page.author_name) %>
      </span>
    </div>
    <div class="article-comments-and-followers">
      <% unless @no_comments %>
        <span class="comments">
          <%= link_to_comments(@page).html_safe %>
        </span>
        <% unless link_to_comments(@page).blank? %>
          <span class="bullet-separator">•</span>
        <% end %>
      <% end %>

      <span class="followers-count">
        <% if @page.event? %>
          <% if @page.person_followers.size > 0 %>
            <%= _("%s will attend this event.") % [ pluralize(@page.person_followers.size, _("person"))]%>
          <% else %>
            <%= _("No one attending this event yet.") %>
          <% end %>
        <% elsif @page.person_followers.size > 0 %>
          <%= _("%s following this article.") % [ pluralize(@page.person_followers.size, _("person"))]%>
        <% else %>
          <%= _("No one following this article yet.") %>
        <% end %>
      </span>

      <% if @page.display_hits? %>
        <span class="bullet-separator">•</span>
        <span id="article-hits">
          <%= n_('One view %{desc}', '%{num} views %{desc}', @page.hits) % { :num => @page.hits, :desc => @page.archived? ? '<b>'+_('(Not countable anymore)')+'</b>' : '' } %>
        </span>
      <% end %>
    </div>
  </div>

  <% unless defined?(no_action_bar) %>
    <%= link_to font_awesome(:ellipsis), '#!', class: 'menu-toggle' %>
    <ul class="noosfero-dropdown-menu">
      <% article_actions.each do |action| %>
        <%== "<li>#{action}</li>" unless action.blank? %>
      <% end %>
    </ul>
  <% end %>
</div>

<% if @page.license.present? %>
  <div id='article-sub-header'>
    <% if @page.license.present? %>
      <div id="article-license">
        <%= _('Licensed under %s').html_safe % (@page.license.url.present? ? link_to(@page.license.name, @page.license.url, :target => '_blank') : @page.license.name) %>
      </div>
    <% end %>
  </div>
<% end %>
</span>
