<div class="publishing-info article-actions">
  <div class="content-publication-data">
    <div class="article-date-and-author">
      <span class="date"><%= show_time(article.published_at)%></span>

      <span class="author">
        <%= _(", by %s").html_safe % (article.author ? link_to(article.author_name, article.author_url) : article.author_name) %>
      </span>
    </div>
    <div class="article-comments-and-followers">
      <% unless @no_comments %>
        <span class="comments">
          <%= link_to_comments(article).html_safe %>
        </span>
        <% unless link_to_comments(article).blank? %>
          <span class="bullet-separator">•</span>
        <% end %>
      <% end %>

      <span class="followers-count">
        <% if article.event? %>
          <% if article.person_followers.size > 0 %>
            <%= _("%s will attend this event.") % [ pluralize(article.person_followers.size, _("person"))]%>
          <% else %>
            <%= _("No one attending this event yet.") %>
          <% end %>
        <% elsif article.person_followers.size > 0 %>
          <%= _("%s following this article.") % [ pluralize(article.person_followers.size, _("person"))]%>
        <% else %>
          <%= _("No one following this article yet.") %>
        <% end %>
      </span>

      <% if article.display_hits? %>
        <span class="bullet-separator">•</span>
        <span id="article-hits">
          <%= n_('One view %{desc}', '%{num} views %{desc}', article.hits) % { :num => article.hits, :desc => article.archived? ? '<b>'+_('(Not countable anymore)')+'</b>' : '' } %>
        </span>
      <% end %>
    </div>
  </div>

  <% unless defined?(no_action_bar) %>
    <%= link_to font_awesome(:ellipsis), '#!', class: 'menu-toggle' %>
    <ul class="noosfero-dropdown-menu">
      <% article_actions.each do |action| %>
        <%== "<li>#{action}</li>" unless action.blank? %>
      <% end %>
    </ul>
  <% end %>
</div>

<% if article.license.present? %>
  <div id='article-sub-header'>
    <% if article.license.present? %>
      <div id="article-license">
        <%= _('Licensed under %s').html_safe % (article.license.url.present? ? link_to(article.license.name, article.license.url, :target => '_blank') : article.license.name) %>
      </div>
    <% end %>
  </div>
<% end %>
</span>
