<%= article_title(@page, :no_link => true) %>

<p><%= _('This is the list of all versions of this content. Select a version to see it and then revert to it.') %>.</p>

<ul class='article-versions'>
  <% @versions.each do |v| %>
    <li>
      <%= link_to(_("Version #{v.version}"), @page.url.merge(:version => v.version)) %>
      <%= @page.version == v.version ? _('(current)') : '' %>
      <span class='updated-by'><%= _('by %{author}') % {:author => link_to(@page.author_name(v.version), @page.author_url)} %></span>
      <div class='updated-on'><%= show_time(v.updated_at) %></div>
    </li>
  <% end %>
</ul>

<%= pagination_links @versions, :param_name => 'npage' %>
