<% add_rss_feed_to_head(@page.name, @page.feed.url) if @page.forum? && @page.feed %>
<% if @page.agrees_with_terms?(user) %>

  <div>
    <div class='forum-description'>
      <%= @page.body %>
    </div>
  </div>
  <hr class="pre-posts"/>
  <div class="forum-posts">
    <%= (@posts.compact.empty? ? content_tag('em', _('(no posts)')) : list_forum_posts(@posts)) %>
  </div>

<% else %>

  <p><%= @page.terms_of_use %></p>

  <%= form_tag @page.url.merge(:terms_accepted => true) do %>
    <% button_bar do %>
      <% if user %>
        <%= submit_button :save, _("Accept")  %>
      <% else %>
        <%= button :save, _("Accept"),  login_url %>
      <% end %>
      <%= button :cancel, _("Cancel"), profile.url %>
    <% end %>
  <% end %>
<% end %>
