<div class="article-versions">
<%= button(:back, _('Back to the versions'), {:action => 'article_versions'}) %>
</div>

<h1><%= _('Changes on "%s"') % @page.title %></h1>

<p> <%= _('Changes from %s &rarr; %s') % [show_time(@v1.updated_at), show_time(@v2.updated_at)] %> </p>

<% diffContent = Diffy::Diff.new(@v1.body, @v2.body, :context => 1) %>
<% if diffContent.to_s(:text).blank? %>
  <p id="article-versions-no-diff">
    <%= _('These versions range have no differences.')%>
  </p>
<% else %>
  <%= diffContent.to_s(:html) %>
<% end %>
