<div class="wrapper">

  <div class="sidebar">
    <div class="results-count">
      <%= @results.total %> <%= _(" results by") %> :
    </div>
    <ul>
      <% for type,value in @searchable_types %>
        <li class="select-search-type <%= "active" if type == @selected_type %>">
          <%= link_to  value[:label], "?selected_type=#{type}&q=#{@query}&selected_filter_field=#{@selected_filter_field}"%>
        </li>
      <% end %>
    </ul>

    <div class="search-filter">
      <h3><%= _("Filter by") %></h3>
      <ul>
        <% for type in @search_filter_types.values %>
          <li><a href="#"><%= type[:label] %></a></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="search_form">
      <div class="search_field">
        <%= form_tag '/plugin/elasticsearch/search', method: :get  do %>
            <%= hidden_field_tag  "selected_type", @selected_type %>
            <%= hidden_field_tag  "selected_filter_field", @selected_filter_field  %>
            <%= text_field_tag :q, @query %>
            <%= submit_tag _("Send") %>
        <% end %>
      </div>

    <div class="results">
      <% for result in @results.to_a %>
        <% for klass in @searchable_types.keys %>
          <% next if klass.to_s.include? "all" %>
          <% if result.is_a? klass.to_s.classify.constantize %>
            <div class="search-item">
              <%= render partial: "#{klass}_display", :locals => { klass => result} %>
            </div>
            <% break %>
          <% end %>
        <% end %>
      <% end %>
      <div class="search_paginate">
        <%= pagination_links @results %>
      </div>
    </div>
  </div>
</div>
