<% extend CommunityTrackPlugin::TrackHelper %>
<% extend CommunityTrackPlugin::StepHelper %>
<div class="item <%= category_class(track) %>">
  <div class="track_content">
    <div class="lead">
      <h3><%= link_to track.name, track.url %></h3>
      <div class="content">
        <%= track.lead %>
      </div>
    </div>
    <div class="steps">
      <h3><%= _("Steps") %></h3>
      <% track.steps.each do |step| %>
        <%= link_to_step(step) do %>
          <span class="step <%= block.status_class(step) %>">
            <span class="position"><%= step.position %></span>
            <span class="legend"><%= status_description(step) %></span>
            <span class="tool_icon button with-text icon-new icon-new<%= step.tool_class.icon_name if step.tool_class %>"></span>
            <span class="name"><%= step.name %></span>
          </span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<br style="clear: both;"/>
