<h2><%= _('General information') %></h2>

  <%= required_fields_message %>

  <%= required f.text_field(:name) %>

  <%= safe_join(@plugins.dispatch(:profile_info_extra_contents).collect { |content| instance_exec(&content) }, "") %>

<%= render :partial => 'change_identifier', :locals => {feature_name: :enable_profile_url_change} %>

<%= render :partial => 'shared/organization_custom_fields', :locals => { :f => f, :object_name => 'profile_data', :profile => @profile, :editing_profile => true } %>
<%= render :partial => 'shared/custom_fields', :locals => {:f => f, :profile => @profile, :editing_profile => true} %>

<%= labelled_check_box(_('Enable "contact us"'), 'profile_data[enable_contact_us]', "1", @profile.enable_contact_us) if @profile.enterprise? %>

<%= render :partial => 'shared/profile_kinds', :locals => {:form_field => 'profile_data'} %>

<%= render :partial => 'moderation', :locals => { :profile => @profile } %>
