<h1><%= _("Enabling '%s' enterprise") % @to_enable.name %></h1>

<p>
<%= _('Are you sure you want to enable %s?') % @to_enable.name %>
</p>

<%= form_tag do %>
  <%= hidden_field_tag(:confirmation, 1) %>
  <%= submit_button(:ok, _("Yes, I want to enable.")) %>
  <%= button(:cancel, _("No, I don't want."), :action => 'index') %>
<% end %>
