<%= hidden_field_tag :id, @content_id %>
<%= hidden_field_tag :metric_configuration_id, @metric_configuration_id %>
<%= hidden_field_tag :reading_group_id, @reading_group_id %>
<%= hidden_field_tag :compound, @compound %>

<%= f.hidden_field :id %>

  <%= required labelled_form_field _('Label'),
  f.select(:reading_id, @reading_labels_and_ids) %><br/>
<table>
  <tr>
    <td>
      <%= f.label :beginning, "(*) Beginning:" %>
    </td>
    <td>
      <%= required f.text_field :beginning, :id => "range_beginning" %>&nbsp;<%= link_to('-&#8734', 'javascript:void(0)', :onClick => "jQuery( '#range_beginning' ).val('-INF');") %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :end, "(*) End:" %>
    </td>
    <td>
      <%= required f.text_field(:end, :id => "range_end") %>&nbsp;<%= link_to('+&#8734', 'javascript:void(0)', :onClick => "jQuery( '#range_end' ).val('+INF');") %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :comments, "(*) Comments:" %>
    </td>
    <td>
      <%= required f.text_area :comments, :rows => 3 %>
    </td>
  </tr>
</table>
<br/>
<%= f.submit "Save Range" %>
