<tr>
  <td>
    <%=range.label%>
  </td>
  <td>
    <%=range.beginning%>
  </td>
  <td>
    <%=range.end%>
  </td>
  <td>
    <%=range.grade%>
  </td>
  <td bgcolor="#<%= range.color %>"></td>
  <% if (not user.nil?) && user.id == @profile.id %>
  <td><%= link_to_remote "Edit", :url => {:action =>"edit", :controller => "mezuro_plugin_range", :id => params[:id], :metric_configuration_id => params[:metric_configuration_id], :range_id => range.id, :reading_group_id => reading_group_id} %>
  </td>
    <td><%= link_to "Remove", :action =>"remove", :controller => "mezuro_plugin_range", :id => params[:id], :metric_configuration_id => params[:metric_configuration_id], :range_id => range.id, :compound => compound %>
    </td>
  <% else %>
    <td></td>
    <td></td>
  <% end %>
</tr>
