<div id='edit-context-content-block'>
  <%= labelled_form_field c_('Limit of items'), text_field(:block, :limit, :size => 3) %>
  <%= labelled_form_field check_box(:block, :show_name) + _('Show content name'), '' %>
  <%= labelled_form_field check_box(:block, :show_image) + _('Show content image'), '' %>
  <%= labelled_form_field check_box(:block, :use_parent_title) + _('Use the name of the source folder as block title'), '' %>
  <%= labelled_form_field check_box(:block, :show_parent_content) + _('Show block on all existing pages in the source folder'), '' %>

  <br/>
  <%= label :block, :types, _('Display content types:'), :class => 'formlabel' %>
  <div class="content_types">
    <% @block.first_content_types.each do |type| %>
      <%= labelled_form_field check_box(:block, 'types', {:multiple => true}, type.name, nil) + _(type.short_description), '' %>
    <% end %>
    <% if !@block.more_content_types.empty? %>
      <a href="#" onclick="jQuery('.content_types .more').toggle(); return false;"><%= _('more') %></a>
    <% end %>
    <div class="more" style="display: none">
      <% @block.more_content_types.each do |type| %>
        <%= labelled_form_field check_box(:block, 'types', {:multiple => true}, type.name, nil) + _(type.short_description), '' %>
      <% end %>
    </div>
  </div>
  <br/>
</div>
