<h2><%= _('Site info') %></h2>

<%= render :file => 'shared/tiny_mce' %>

<%= labelled_form_for :environment, :url => {:action => 'site_info'} do |f| %>

  <%= f.text_area :message_for_disabled_enterprise, :cols => 40, :style => 'width: 90%' %>

  <% button_bar do %>
    <%= submit_button(:save, _('Save')) %>
    <%= button(:cancel, _('Cancel'), :action => 'index') %>
  <% end %>

<% end %>
