<h2><%= _('Environment settings') %></h2>

<%= error_messages_for :environment %>

<%= render :file => 'shared/tiny_mce' %>

<%= labelled_form_for :environment do |f| %>
  <% tabs = [] %>
  <% tabs << {:title => _('Site info'), :id => 'site-info',
    :content => (render :partial => 'site_info', :locals => {:f => f})} %>
  <% tabs << {:title => _('Terms of use'), :id => 'terms-of-use',
    :content => (render :partial => 'terms_of_use', :locals => {:f => f})} %>
  <% #TODO I renamed the labels of signup-welcome-text and signup-welcome-page
     # so texts more meaningful but I'm not rewriting every variable or reference to
     # this. I leave this task to whoever thinks this is too annoying.%>
  <% tabs << {:title => _('Signup welcome email'), :id => 'signup-welcome-text',
    :content => (render :partial => 'signup_welcome_text', :locals => {:f => f})} %>
  <% tabs << {:title => _('Signup welcome page'), :id => 'signup-welcome-message',
    :content => (render :partial => 'signup_welcome_screen', :locals => {:f => f}) }%>
  <% tabs << {:title => _('Signup introduction text'), :id => 'signup-intro',
    :content => (render :partial => 'signup_intro', :locals => {:f => f})} %>
  <%= render_tabs(tabs) %>
  <% button_bar do %>
    <%= submit_button(:save, _('Save'), :cancel => {:action => 'index'}) %>
  <% end %>
<% end %>
