<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="refresh" content="60"/>
  <title>Noosfero - System Maintainance</title>
  <link rel="stylesheet" type="text/css" href="/designs/themes/default/errors.css"/>
  <link rel="shortcut icon" href='/designs/themes/default/favicon.ico' type="image/x-icon" />
  <script type='text/javascript' src='/javascripts/jquery.js'></script>
  <script type='text/javascript' src='/javascripts/errors.js'></script>
</head>
<body onload='display_error_message()'>
  <div id='wrap'>
    <div id='header'>
      <div id='logo'>
        &nbsp;
      </div>
    </div>
    <% Noosfero.each_locale do |language_code,language_name| %>
      <% FastGettext.set_locale language_code %>
      <div id='<%= language_code %>' style='display: none' class='message'>
        <h1><%= _('System maintainance') %></h1>
        <p>
        <%= _('This system is under maintainance. It should be back in a few moments.') %>
        </p>
      </div>
    <% end %>
    <div id='languages'>
      <% Noosfero.each_locale do |language_code,language_name| %>
        <a href="javascript: display_error_message('<%= language_code %>')"><%= language_name %></a>
      <% end %>
    </div>
  </div>
</body>
</html>
