<h1><%= _('Manage users') %></h1>

<%= form_tag( { :action => 'index' }, :method => 'get', :class => 'users-search' ) do %>
<div id="search-users">
  <%= render :partial => 'users_search_form' %>
</div>
<div id="users-list">
  <%= render :partial => 'users_list' %>
</div>
<% end %>

<%= render :partial => 'index_buttons' %>