<h1><%= _('Send e-mail to users') %></h1>

<%= error_messages_for :mailing %>

<%= render :file => 'shared/tiny_mce' %>

<%= form_for :mailing do |f| %>
  <%= labelled_form_field(_('Subject:'), f.text_field(:subject)) %>
  <%= labelled_form_field(_('Body:'), f.text_area(:body, :class => 'mceEditor')) %>
  <%= submit_button(:send, _('Send')) %>
  <%= button :cancel, _('Cancel e-mail'), :controller => 'users' %>
<% end %>
