<div id="custom-forms-plugin_submission">

<h1><%= @form.name %></h1>
<p><%= (@form.description || "").html_safe %></p>

<% if @submission.id.nil? %>
  <% if @form.expired? %>
    <% if @form.will_open? %>
      <h2><%= _('Sorry, you can\'t fill this form yet').html_safe %></h2>
    <% else %>
      <h2><%= _('Sorry, you can\'t fill this form anymore').html_safe %></h2>
    <% end %>
  <% end %>

  <%= render partial: 'shared/form',
             locals: { form: @form, submission: @submission } %>

<% else %>
  <%= fields_for :submission, @submission do |f| %>
    <%= render partial: 'shared/form_submission',
             locals: { f: f, form: @form, submission: @submission } %>
  <% end %>
<% end %>

</div><!-- end id="custom-forms-plugin_submission" -->
