<%= javascript_include_tag 'address_fields' %>

<div id='location-support-fields'>
  <div class='location-support-fields-row formfield'>
    <%= select_profile_country(profile) %>
    <%= select_profile_state(profile) %>
  </div>

  <div class='formfield'>
    <%= select_profile_city(profile) %>
  </div>

  <div class='location-support-fields-row formfield'>
    <%= text_field_tag('profile_data[district]', profile.district,
                       id: 'profile_data_district', placeholder: _('District')) %>
    <%= text_field_tag('profile_data[zip_code]', profile.zip_code,
                       id: 'profile_data_zip_code', placeholder: _('ZIP code')) %>
  </div>

  <div class='formfield'>
    <%= text_field_tag('profile_data[address]', profile.address,
                       id: 'profile_data_address', placeholder: _('Address')) %>
  </div>
</div>
