<div id="selected-category-<%= category.id %>" class="selected-category" data-id="<%= category.id%>" style="display: flex; margin-top: 2px;">
  <%= hidden_field_tag("#{object_name}[category_ids][]", category.id) %>

  <div style="width: 70%; padding: 8px 0px;">
    <%= category_humane_path(category) %>
  </div>
  <div style="text-align: center; width: 30%;">
    <%= button_to_function_without_text(:trash, _('Remove'), "remove_category(#{category.id})") %>
  </div>
</div>
