<div id='agenda'>
  <div class='agenda-calendar'>
    <table class='noborder current-month'>
      <caption>
        <h2><%= show_month(params[:year], params[:month]) %></h2>
        <%= link_to_previous_month(params[:year], params[:month], show_month(params[:year], params[:month], :previous => true, :only_month => true)) %>
        <%= link_to_next_month(params[:year], params[:month], show_month(params[:year], params[:month], :next => true, :only_month => true)) %> 
      </caption>
      <%= render :partial => 'events/month', :locals => {:calendar => @calendar, :abbreviated => true} %>
    </table>
    <br clear='both'/>
  </div>
  <div id='events-of-the-day'>
    <%= render :partial => 'events/events' %>
  </div>
</div>
