<!DOCTYPE html>
<html>
  <head>
    <% @environment = Environment.default %>

    <title><%= ([@environment.name, _('Social Statistics'), blazer_title].compact.join(' &mdash; ')).html_safe %></title>

    <meta charset="utf-8" />

    <%= stylesheet_link_tag "blazer/application" %>
    <%= stylesheet_link_tag "#{File.join(theme_path, 'blazer')}/style.css" %>
    <%= javascript_include_tag "blazer/application" %>
    <script>
      <%= blazer_js_var "rootPath", root_path %>
    </script>
    <% if blazer_maps? %>
      <%= stylesheet_link_tag "https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css" %>
      <%= javascript_include_tag "https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js" %>
    <% end %>
    <%= csrf_meta_tags %>

    <link rel="shortcut icon" href="<%= image_path(theme_favicon) %>" type="image/x-icon" />
  </head>
  <body>
    <div  id="header">
      <%= env_theme_include 'blazer/header' %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <div  id="footer">
      <%= env_theme_include 'blazer/footer' %>
    </div>
  </body>
</html>
