<div class="search-field">
  <span class="formfield">
    <%= text_field_tag 'q', nil, :title => _("Find users") %>
  </span>
  <span>
    <%= button(:search, _('Search'), { controller: 'profile_quotas' }) %>
  </span>
</div>

<div class='search-filters'>
  <%= select_tag 'filter', options_for_select(@type_filters),
                 id: 'type-filter' %>
  <%= select_tag 'order_by', options_for_select(@order_filters),
                 id: 'order-filter' %>
</div>

<%= render partial: 'profile_list', locals: { profiles: profiles } %>
