<div class="oauth-login">
  <% unless providers.empty? %>
    <div class="providers-links">
      <%= _('Create an account from:') %>
      <div>
        <%= render :partial => 'auth/generate_providers_links', :locals => {:providers => providers, :action => ""} %>
      </div>
      <% if OauthClientPlugin::Configuration.instance.allow_external_login %>
        <%= _('Login with:') %>
        <div>
          <%= render :partial => 'auth/generate_providers_links', :locals => {:providers => providers, :action => "external_login"} %>
        </div>
      <% end %>
    </div>
  <% end %>

  <span class="provider">
    <% unless Rails.env.production? %>
      <%= link_to _('Developer Login'), "/plugin/oauth_client/developer", :class => 'developer' %>
    <% end %>
  </span>
</div>
