<%= javascript_tag do %>
  var value = <%= @product.price_description_percentage %>;
  var total_cost = <%= @product.total_production_cost %>;
  var price = '<%= @product.formatted_value(:price) %>';
  var described = false;
  var currency_format = { separator : '<%= environment.currency_separator %>', delimiter : '<%= environment.currency_delimiter %>', unit : '<%= environment.currency_unit %>' };
  if (<%= @product.price_described? %>) {
    var described = true;
  }
  priceCompositionBar(value,described,total_cost,price);
<% end %>

<div id="price-details-info">
  <div id="details-progressbar">
    <div id='progressbar'></div>
    <div id='progressbar-text'>
      <%= price_composition_progressbar_text(@product) %>
    </div>
  </div>
  <div id='progressbar-icon' class='ui-icon ui-icon-info' data-price-not-described-message='<%= _("The production cost of your product is not described yet. If you want to display the price composition, please add all the costs") %>' data-price-described-message='<%= _("The production cost of your product is fully described and will be displayed on your product's page") %>' data-price-described-notice='<%= _("Congratulations! Now the price is open to the public") %>'>
</div>
</div>
