<%= remote_form_for(@product,
                   :loading => "small_loading('product-name-form')",
                   :update => 'product-name',
                   :url => {:controller => 'manage_products', :action => 'edit', :id => @product, :field => 'name'},
                   :html => {:method => 'post', :id => 'product-name-form', :class => 'form-horizontal'}) do |f| %>
    <div class="form-group">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <%= f.text_field(:name, :value => @product.name, :class => 'form-control') %>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <%= select_unit(@product) %>
      </div>
    </div>

  <% button_bar do %>
    <%= submit_button :save, _('Save') %>
    <%= cancel_edit_product_link(@product, 'name') %>
  <% end %>
<% end %>

<script type="text/javascript">
  jQuery('#product_name').focus().select();
</script>

<% if errors %>
  <%= render_dialog_error_messages 'product' %>
<% end %>
