<% if block.owner.lat %>
  <%= block_title(block.title, block.subtitle) %>
  <div class='the-localization-map'>
    <img src="https://maps.google.com/maps/api/staticmap?center=<%=block.owner.lat%>,<%=block.owner.lng%>&zoom=<%=block.zoom%>&size=190x250&maptype=<%=block.map_type%>&markers=<%=block.owner.lat%>,<%=block.owner.lng%>&sensor=false"/>
  </div>
<% else %>
  <i><%= _('This profile has no geographical position registered.') %></i>
<% end %>
