<%= block_title(block.title, block.subtitle) %>

<ul>
  <li class="<%= current_page?(:controller => 'profile', :action => 'activities') ? 'active' : '' %>"> <%= link_to _('Activities'), {:controller => 'profile', :action => 'activities', :profile => block.owner.identifier} %></li>
  <% if profile.person? %>
    <li class="<%= current_page?(:controller => 'profile', :action => 'about') ? 'active' : '' %>"> <%= link_to _('About'), {:controller => 'profile', :action => 'about', :profile => block.owner.identifier} %></li>
    <li class="<%= current_page?(:controller => 'memberships', :action => 'index') ? 'active' : '' %>"> <%= link_to _('Communities'), {:controller => 'memberships', :action => 'index', :profile => block.owner.identifier} %></li>
    <li class="<%= current_page?(:controller => 'friends', :action => 'index') ? 'active' : '' %>"> <%= link_to _('People'), {:controller => 'friends', :action => 'index', :profile => block.owner.identifier} %></li>
  <% end %>
  <% if profile.community? %>
    <li class="<%= current_page?(:controller => 'profile_members', :action => 'index') ? 'active' : '' %>"> <%= link_to _('People'), {:controller => 'profile_members', :action => 'index', :profile => block.owner.identifier} %></li>
  <% end %>
</ul>

