<% if @products.empty? %>
  <p><i><%= _("No results.") %></i></p>
<% else %>
  <table>
    <tr>
      <th><%= _('Product') %></th>
      <th><%= _('Quantity') %></th>
    </tr>
    <% @products.each do |id, quantity|%>
      <tr>
        <td><%= link_to(Product.find(id).name, Product.find(id).url) %></td>
        <td style="text-align: center"><%= quantity %></td>
      </tr>
    <% end %>
  </table>
<% end %>

