<% if @products.empty? %>
  <p><i><%= _("No results.") %></i></p>
<% else %>
  <table>
    <tr>
      <th><%= c_('Product') %></th>
      <th><%= _('Quantity') %></th>
    </tr>
    <% @products.each do |id, item|%>
      <tr>
        <td><%= item.product ? link_to(item.name, item.product.url) : item.name %></td>
        <td style="text-align: center"><%= item.quantity %></td>
      </tr>
    <% end %>
  </table>
<% end %>

