<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  </head>
  <body>
    <h4><%= _('Hi %s!') % @order.consumer_data[:name] %></h4>

    <p>
      <%= _('This is a notification e-mail about your buy request on the enterprise %s.') % link_to(@order.profile.name, @order.profile.url) %>
      <%= _('The enterprise already received your buy request and will contact you for confirmation.') %>
      <%= _('If you have any doubts about your order, write to us at: %s.') % @order.profile.contact_email %>
      <%= _('Review below the informations of your order:') %>
    </p>

    <ul>
      <li><b><%= c_('Full name') %>: </b><%= @order.consumer_data[:name] %></li>
      <li><b><%= c_('Email') %>: </b><%= @order.consumer_data[:email] %></li>
      <li><b><%= _('Phone number') %>: </b><%= @order.consumer_data[:contact_phone] %></li>

      <li><b><%= _("Payment's method") %>: </b><%= _ OrdersPlugin::Order::PaymentMethods[@order.payment_data[:method].to_sym].call %></li>
      <% if @order.payment_data[:method] == 'money' %>
        <li><b><%= s_('shopping_cart|Change') %>: </b><%= @order.payment_data[:change] %></li>
      <% end %>

      <li><b><%= _('Delivery or pickup') %>:</b></li>
      <%= @order.supplier_delivery_data[:name] %><br/>
      <p>
        <i><%= @order.supplier_delivery_data[:description] %></i>
      </p>

      <% if !@order.consumer_delivery_data[:address].blank? || !@order.consumer_delivery_data[:city].blank? || !@order.consumer_delivery_data[:zip_code].blank? || !@order.consumer_delivery_data[:district].blank? || !@order.consumer_delivery_data[:address_reference].blank? %>
        <li><b><%= c_('Address') %>:</b></li>
      <% end %>
      <% if !@order.consumer_delivery_data[:address].blank? %>
        <%= @order.consumer_delivery_data[:address] %><br \>
      <% end %>
      <% if !@order.consumer_delivery_data[:address_line2].blank? %>
        <%= @order.consumer_delivery_data[:address_line2] %><br \>
      <% end %>
      <% if !@order.consumer_delivery_data[:address_reference].blank? %>
        <%= @order.consumer_delivery_data[:address_reference] %><br \>
      <% end %>
      <% if !@order.consumer_delivery_data[:district].blank? %>
        <%= @order.consumer_delivery_data[:district] %><br \>
      <% end %>
      <% if !@order.consumer_delivery_data[:city].blank? %>
        <%= @order.consumer_delivery_data[:city] %><br \>
      <% end %>
      <% if !@order.consumer_delivery_data[:state].blank? %>
        <%= @order.consumer_delivery_data[:state] %><br \>
      <% end %>
      <% if !@order.consumer_delivery_data[:zip_code].blank? %>
        <%= @order.consumer_delivery_data[:zip_code] %>
      <% end %>
      <% if !@order.consumer_delivery_data[:address].blank? || !@order.consumer_delivery_data[:city].blank? || !@order.consumer_delivery_data[:zip_code].blank? || !@order.consumer_delivery_data[:district].blank? || !@order.consumer_delivery_data[:address_reference].blank? %>
        </li>
      <% end %>
    </ul>

    <p><%=_('Here are the products you bought:')%></p>
    <%= items_table(@items, @order.profile, @order.supplier_delivery, true) %>
    <p>
      --<br/>
      <%=_('Thanks for buying with us!')%><br/>
      <%= link_to @order.profile.name, @order.profile.url %>
    </p>
    <small style="color: #888"><%= _('A service of %s.') % @environment.name %></small>
  </body>
</html>
