<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  </head>
  <body>
    <% environment = @environment %>
    <h4><%= _('Hi %s!') % @supplier.name %></h4>

    <p>
      <%= _('This is a buy request made by %s.') % @customer[:name] %>
      <%= _('Below follows the customer informations:') %>
    </p>

    <ul>
      <li><b><%= _('Full name') %>: </b><%= @customer[:name] %></li>
      <li><b><%= _('Email') %>: </b><%= @customer[:email] %></li>
      <li><b><%= _('Phone number') %>: </b><%= @customer[:contact_phone] %></li>
      <li><b><%= _('Address') %>: </b><%= @customer[:address] %><br \>
      <%= @customer[:city]+'-'+@customer[:state]+'-'+@customer[:country] %><br \>
      <%= @customer[:zip_code] %></li>
    </ul>

    <p><%=_('And here are the items bought by this customer:')%></p>
    <%= items_table(@items, true) %>

    <p>
      --<br/>
      <%=_('If there are any problems with this email contact the admin of %s.') % environment.name %>
    </p>
    <small style="color: #888"><%= _('A service of %s.') % environment.name %></small>
  </body>
</html>
