<h1><%= _('Validators for region %s') % @region.name %></h1>

<h2><%= _('Current validators') %></h2>

<ul>
  <% for validator in @region.validators %>
    <li>
    <%= link_to_homepage validator.name, validator %>
    <%= link_to _('Remove validation rights'), { :action => 'remove', :id => @region.id, :validator_id => validator }, :method => 'post' %>
    </li>
  <% end %>
</ul>

<h2><%= _('Add new validators') %></h2>

<p>
<%= help _('First search organizations by their name, then use the buttons in the search result to add them as validators for this region. ') %>
</p>

<%= form_tag({}, { :method => 'get' }) do %>
  <%= text_field_tag :search, nil, :id => 'search_validator' %>
  <% button_bar do %>
    <%= submit_button('search', _('Search')) %>
  <% end %>
<% end %>

<%= observe_field 'search_validator', :url => { :action => 'search', :id => @region.id }, :with => 'search', :frequency => 1, :update => 'search_results' %>

<div id='search_results'>
  <%= render :partial => 'search' %>
</div>
