<h1><%= _('Adding %s as a favorite enterprise') % @favorite_enterprise.name %></h1>

<p>
<%= _('Are you sure you want to add %s as your favorite enterprise?') % @favorite_enterprise.name %>
</p>

<%= form_tag do %>
  <%= hidden_field_tag(:confirmation, 1) %>

  <%= submit_button(:ok, _("Yes, I am sure"), :title => _("I want to add %s as a favorite enterprise") % @favorite_enterprise.name) %>
  <%= button(:cancel, _("No, I don't want"), :action => 'index') %>
<% end %>
