<div id="remove_favorite_enterprise">

<h1><%= _('Removing favorite enterprise: %s') % @favorite_enterprise.name %></h1>

<%= profile_image @favorite_enterprise, :thumb, :class => 'favorite_enterprise_picture' %>

<p>
<%= _('Are you sure you want to remove %s from your favorite enterprise list?') % @favorite_enterprise.name %>
</p>

<%= form_tag do %>
  <%= hidden_field_tag(:confirmation, 1) %>

  <%= submit_button(:ok, _("Yes, I want to remove %s from my favorite enterprise list") % @favorite_enterprise.name) %>
  <%= button(:cancel, _("No, I don't want"), :action => 'index') %>
<% end %>

</div><!-- end id="remove_favorite_enterprise" -->
