<h2> <% _('Make new admin') %> </h2>

<%= labelled_form_for :person, :url => {:action => 'update_roles'} do |f| %>
  <%= _('Admin') %> <br>
  <% @people.each do |p| %>
    <%= labelled_form_field(p.name, (radio_button_tag "person", p.id)) %>
  <% end %>
    <%= _('Roles:') %> <br>
  <% @roles.each do |r| %>
    <%= labelled_form_field(r.name, (check_box_tag "roles[]", r.id)) %>
  <% end %>
  <% button_bar do %>
    <%= submit_button( 'save', _('Make'), :cancel => {:action => 'index'} ) %>
  <% end %>
<% end %>
