<h1><%= _('Manage federated networks') %></h1>

<% if not @networks.empty? %>
  <p>
    <%= _('Select which federated networks you want to enable in your environment') %>
  </p>

  <%= labelled_form_for(:environment, :url => {:action => 'save_networks'})  do |f| %>
    <div style='vertical_align: top'>
      <%= collection_check_boxes(:environment, :federated_network_ids, FederatedNetwork.all, :id, :name) do |box| %>
        <div class='federation-thumbnail'>
          <% if box.object.thumbnail.present? %>
            <%= image_tag box.object.thumbnail %>
          <% end %>
          <h5><%= box.label { box.check_box + box.text }%></h5>
        </div>
      <% end %>
    </div>
    <div class='federation-button'>
      <% button_bar do %>
        <%= submit_button('save', _('Save changes')) %>
        <%= button :back, _('Back to admin panel'), :controller => 'admin_panel', :action => 'index' %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <p> <%= _('No federated networks available') %> </p>
<% end %>
