<%= hidden_field_tag :id, @reading_group_content.id %>
<%= f.hidden_field(:group_id, :value => @reading_group_content.reading_group_id) %>

<%= required labelled_form_field _('Label:'), f.text_field(:label) %>

<%= required labelled_form_field _('Grade:'), f.text_field(:grade) %>

<%= required labelled_form_field _('Color:'),
colorpicker_field(:reading, :color) %>Click in the field to change Color

<div id="labels_and_grades" data-list="<%= @labels_and_grades %>" data-parser="<%= @parser %>"/>

<p><%= f.submit "Save" %></p>
