<h1> <%= _(MezuroPlugin::ConfigurationContent.short_description) %> </h1>

<%
  kalibro_configuration = @article.title.nil? ? nil : @article.kalibro_configuration
  configuration_names_and_ids = @article.configuration_names_and_ids
%>

<%= error_messages_for 'kalibro_configuration' %>


<%= hidden_field_tag 'configuration_content[profile_id]', profile.id %>
<%= hidden_field_tag 'configuration_id', @article.configuration_id %>
<%= render :partial => "cms/mezuro_plugin/mezuro_content_form", :locals => {:f => f} %>

<br/>
<%= if kalibro_configuration.nil?
  required labelled_form_field _('Clone Configuration'),
  f.select(:configuration_to_clone_id, configuration_names_and_ids)
end %>
