<h1> <%= _(MezuroPlugin::ConfigurationContent.short_description) %> </h1>

<%
  begin
    @configuration = @article.title.nil? ? nil : Kalibro::Client::ConfigurationClient.new.configuration(@article.title)
  rescue
    @configuration = nil
  end
  @metrics = Kalibro::Client::MetricsClient.all_metrics
%>

<%= error_messages_for 'kalibro_configuration' %>

<%= hidden_field_tag 'kalibro_configuration[profile_id]', profile.id %>
<%= hidden_field_tag 'id', @article.id %>

<%= required_fields_message %>

<%= required f.text_field(:name) %>

<%= f.text_field :description %><br/>

<h3> Metrics </h3>
<% @metrics.each do |metric| %>
  <div class="metric">
    <%= check_box_tag "article[metric_ids][]", metric.id, true, :id => "article_metric_ids_#{metric.id}" %>
    <%= label_tag "article_metric_ids_#{metric.id}", metric.name %>
    <%= metric.description %>
  </div>
<% end %>
