<h1> <%= _(MezuroPlugin::ConfigurationContent.short_description) %> </h1>

<%
begin
  @configuration = @article.title.nil? ? nil : Kalibro::Client::ConfigurationClient.new.configuration(@article.title)
rescue
  @configuration = nil
end 
%>

<%= error_messages_for 'kalibro_configuration' %>

<%= hidden_field_tag 'kalibro_configuration[profile_id]', profile.id %>
<%= hidden_field_tag 'id', @article.id %>

<%= required_fields_message %>

<%= required f.text_field(:name) %>

<%= f.text_field :description %><br/>

<h3> Metrics </h3>
<table>
  <% @tool_names = Kalibro::Client::BaseToolClient.new
  @tool_names.base_tool_names.each do |collector_name|
    @collector = @tool_names.base_tool(collector_name)
    @collector.supported_metrics.each do |metric| %>

      <tr class="metric" title="<%= metric.description %>">
        <td>
          <%= check_box_tag metric.name, metric.name, true %>
          <%= label_tag metric.name %>
        </td>
      </tr>

    <% end %>
  </table>
<% end %>
