<h1> <%= _(MezuroPlugin::ConfigurationContent.short_description) %> </h1>

<%
  begin
    configuration = @article.title.nil? ? nil : @article.configuration
  rescue
    configuration = nil
  end
%>

<%= error_messages_for 'kalibro_configuration' %>

<%= hidden_field_tag 'kalibro_configuration[profile_id]', profile.id %>
<%= hidden_field_tag 'id', @article.id %>

<% configuration_names = @article.configuration_names %>

<% selected = (configuration.nil? ? "None" : @article.clone_configuration_name) %>

<%= required_fields_message %>

<%= required labelled_form_field _('Clone Configuration'),
if !configuration.nil? && !@article.id.nil?
  f.select(:clone_configuration_name, configuration_names, {:selected => selected}, :disabled => 'true')
else
  f.select(:clone_configuration_name, configuration_names, {:selected => selected})
end %>
<br/>

<%= required f.text_field(:name, :disabled => !(configuration.nil? || @article.id.nil?)) %>

<%= f.text_field :description %><br/>
