<h1> <%= _(MezuroPlugin::KalibroConfiguration.short_description) %> </h1>

<%
  begin
    @configuration = @article.title.nil? ? nil : Kalibro::Client::ConfigurationClient.new.configuration(@article.title)
  rescue
    @configuration = nil
  end
%>

<%= error_messages_for 'kalibro_configuration' %>

<%= hidden_field_tag 'kalibro_configuration[profile_id]', profile.id %>
<%= hidden_field_tag 'id', @article.id %>

<%= required_fields_message %>

<%= required f.text_field(:name) %>

<%= f.text_field :description %><br/>

<% @repository_types = Kalibro::Client::KalibroClient.new.supported_repository_types.sort %>
<% @selected = (@project.nil? ? @repository_types : @project.repository.type) %>
<%= required labelled_form_field _('Repository type'),
  f.select(:repository_type, @repository_types, {:selected => @selected}) %><br/>

<%= required f.text_field(:repository_url) %><br/>

<% @configuration_names = Kalibro::Client::ConfigurationClient.new.configuration_names.sort %>
<% @selected = (@project.nil? ? @configuration_names[0] : @project.configuration_name) %>
<%= required labelled_form_field _('Configuration'),
  f.select(:configuration_name, @configuration_names.sort, {:selected => @selected}) %><br/>

