<h1> <%= _(MezuroPlugin::ProjectContent.short_description) %> </h1>

<%
  @project = @article.title.nil? ? nil : @article.project
%>

<%= error_messages_for 'project_content' %>

<%= hidden_field_tag 'project_content[profile_id]', profile.id %>
<%= hidden_field_tag 'id', @article.id %>

<%= required_fields_message %>
<% if !@project.nil? && !@article.id.nil? %>
  <%= required f.text_field(:name, :disabled => 'true') %>
<% else %>
  <%= required f.text_field(:name) %>
<% end %>

<%= f.text_field :description %><br/>

