<h1> <%= _(MezuroPlugin::ProjectContent.short_description) %> </h1>

<%
  @project = @article.title.nil? ? nil : @article.project
%>

<%= error_messages_for 'project_content' %>

<%= hidden_field_tag 'project_content[profile_id]', profile.id %>
<%= hidden_field_tag 'project_id', @article.project_id %>
<%= render :partial => "cms/mezuro_plugin/mezuro_content_form", :locals => {:f => f} %>
