<h1> <%= _(MezuroPlugin::ReadingGroupContent.short_description) %> </h1>

<%
  reading_group = @article.title.nil? ? nil : @article.reading_group
%>

<%= error_messages_for 'reading_group_content' %>

<%= hidden_field_tag 'reading_group_content[profile_id]', profile.id %>
<%= hidden_field_tag 'reading_group_id', (reading_group.id unless reading_group.nil?) %>
<%= render :partial => "cms/mezuro_plugin/mezuro_content_form", :locals => {:f => f} %>
