<% if block.use_parent_title %>
  <%= block_title(parent_title, block.subtitle) %>
<% else %>
  <%= block_title(block.title, block.subtitle) %>
<% end %>

<div class='contents' id='<%="context_content_#{block.id}"%>'>
  <% contents.each do |content| %>
    <% content = FilePresenter.for(content) %>
    <span class="item">
      <a href="<%= url_for(content.view_url) %>">
        <div class="image">
          <%= instance_eval(&block.content_image(content)) if block.show_image %>
        </div>
        <% if block.show_name %>
          <div class="name"><%= content.name %></div>
        <% end %>
      </a>
    </span>
  <% end %>
</div>
