<h2><%= link_to("#{@configuration_content.name} Configuration", @configuration_content.view_url) %></h2>

<%= link_to "New Compound Metric", :controller => "mezuro_plugin_metric_configuration", :action => "new_compound",
								   :id => @configuration_content.id %>

<h5>Base Tools:</h5>
<% @base_tools.each do |base_tool| %>
  <h4><%= link_to base_tool.name, "#",  :onclick => "jQuery(\"\##{base_tool.name}\").toggle();"%></h4>
  <hr/>

  <div id="<%=base_tool.name%>" style="display:none">
    <% base_tool.supported_metrics.each do |metric| %>
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= link_to metric.name, :controller => "mezuro_plugin_metric_configuration", :action => "new_native",
      				:metric_name => metric.name, :base_tool_name => base_tool.name, :id => @configuration_content.id %>
      <hr size="1" width="93%"/>
    <% end %>
  </div>
<% end %>
