<script src="/plugins/mezuro/javascripts/validations.js" type="text/javascript"></script>
<script src="/plugins/mezuro/javascripts/colorPicker/jquery.colorPicker.min.js" type="text/javascript"></script>
<script src="/plugins/mezuro/javascripts/colorPicker/jquery.colorPicker.js" type="text/javascript"></script>

<h2><%= @configuration_content.name %> Configuration</h2>

<% owner = (not user.nil?) && user.id == @profile.id %>

<% if owner %>
  <%=  render :partial => "content_viewer/metric_configuration_form" %>
<% else %>
  <%=  render :partial => "content_viewer/metric_configuration_view" %>
<% end %>

<h5> Ranges </h5><br/>

<table id="ranges">
  <tr>
    <td>
      Label
    </td>
    <td>
      Beginning
    </td>
    <td>
      End
    </td>
    <td>
      Grade
    </td>
    <td>
      Color
    </td>   
    <td></td>    
    <td></td>
  </tr>
  <% if (@metric_configuration.ranges!=nil) 
    @metric_configuration.ranges.each do |range| %>
      <%= render :partial => "mezuro_plugin_range/range", :locals => {:range => range, :id => @configuration_content.id, 
          :metric_name => @metric.name} %>
    <% end
  end %>
</table>

<br/>
<% if owner %>
  <%= link_to_remote "New Range", :url => {:action =>"new_range", :controller => "mezuro_plugin_range", :id => @configuration_content.id, :metric_name => @metric.name} %>
<% end %>
<div id="range_form" style="display:none"></div>

