<%= hidden_field_tag :id, @project_content.id %>
<%= f.hidden_field(:project_id, :value => @project_content.project_id) %>

<%= required labelled_form_field _('Name'), f.text_field(:name) %> 

<%= labelled_form_field _("Description"), f.text_field(:description) %>

<%= required labelled_form_field _('License'),
f.select(:license, MezuroPlugin::Helpers::ContentViewerHelper.license_options) %>

<%= required labelled_form_field _('Process Period'),
f.select(:process_period, MezuroPlugin::Helpers::ContentViewerHelper.periodicity_options) %>

<%= required labelled_form_field _('Type'),
f.select(:type, @repository_types) %>

<%= required labelled_form_field _('Address'),
f.text_field(:address) %>

<%= required labelled_form_field _('Configuration'),
f.select(:configuration_id, @configuration_select) %>

<p> <%= f.submit "Add" %> </p>
