<h3> <%= link_to( @project_name, homepage_url(@data_profile, @project_name.downcase.gsub(/[^0-9A-Za-z]/, '')) ) %></h3>

<% form_for :repository, :url => {:action =>"update", :controller => "mezuro_plugin_repository"},  :method => :get do |f| %>
  <%= hidden_field_tag :id, @project_content_id %>

  <%= f.hidden_field :id%>
  <%= required labelled_form_field _('Name:'), f.text_field(:name) %> 

  <div class="formfieldline">
    <%= f.label :description, "Description:", :class => 'formlabel' %>
    <div class="formfield type-text">  
      <%= f.text_field :description %>
    </div>
  </div>

  <%= required labelled_form_field _('License'),
  f.select(:license, MezuroPlugin::Helpers::ContentViewerHelper.license_options, :selected => @repository.license) %>

  <%= required labelled_form_field _('Process Period'),
  f.select(:process_period, MezuroPlugin::Helpers::ContentViewerHelper.periodicity_options, :selected => @repository.process_period.to_i) %>

  <%= required labelled_form_field _('Type'),
  f.select(:type, @repository_types, :selected => @repository.type) %>

  <%= required labelled_form_field _('Address'),
  f.text_field(:address) %>

  <%= required labelled_form_field _('Configuration'),
  f.select(:configuration_id, @configuration_select, :selected => @repository.configuration_id.to_i) %>

  <p>
    <%= f.submit "Add" %>
  </p>

<% end %>
