  <p>
    <%= "Project Name: " + @project_name %>
  </p>
  <p>
    <%= "Name: " + @repository.name %>
  </p>
  <p>
    <%= "Description: " + @repository.description %>
  </p>
  <p>
    <%= "License: " + @repository.license %>
  </p>
    <p>
    <%= "Process Period: " + @repository.process_period %>
  </p>
    <p>
    <%= "Type: " + @repository.type %>
  </p>
    <p>
    <%= "Address: " + @repository.address %>
  </p>
  <p>
    <%= "Configuration: " + @configuration_name %>
  </p>
