<h2><%= @configuration_name %> Configuration</h2>

<% form_for :metric_configuration, :url => {:action =>"create_metric_configuration", :controller => "mezuro_plugin_myprofile"}, :method => :get do |f| %>
  <%= hidden_field_tag :configuration_name, @configuration_name %>
  <%= hidden_field_tag :scope, @metric.scope %>
  
  <% @metric.language.each do |language| %>
    <%= hidden_field_tag "language[]", language %>
  <% end %>

  <p>
    <%= f.label :origin, "Collector Name:" %>
    <%= @metric.origin %>
    <%= hidden_field_tag "metric[origin]", @metric.origin %>
  </p>
  <p>
    <%= f.label :metric_name, "Metric Name:" %>
    <%= @metric.name %>
    <%= hidden_field_tag "metric[name]", @metric.name %>
  </p>
  <p>
    <%= f.label :description, "Description:" %>
    <%= @metric.description %>
    <%= text_field_tag :description %>
  </p>
  <p>
    <%= f.label :code, "Code:" %>
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.label :aggregation_form, "Aggregation:" %>
    <%= f.select :aggregation_form, [["Average","AVERAGE"], ["Median", "MEDIAN"], ["Maximum", "MAXIMUM"], ["Minimum", "MINIMUM"], 
    ["Count", "COUNT"], ["Standard Deviation", "STANDARD_DEVIATION"]] %>
  </p>
  <p>
    <%= f.label :weight, "Weight:" %>
    <%= f.text_field :weight %>
  </p>

  <p>
    <%= f.submit "Add" %>
  </p>

<% end %>
