<% remote_form_for :range, :url => {:action =>"create_range", :controller => "mezuro_plugin_profile"}, :method => :get do |f| %>
  <%= hidden_field_tag :configuration_name, configuration_name %>
  <%= hidden_field_tag :metric_name, metric_name %>
  <table>
    <tr>
      <td>
        <%= f.label :label, "Label:" %>
      </td>
      <td>
        <%= f.text_field :label %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :beginning, "Beginning:" %>
      </td>
      <td>
        <%= f.text_field :beginning %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :end, "End:" %>
      </td>
      <td>
        <%= f.text_field :end %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :grade, "Grade:" %>
      </td>
      <td>
        <%= f.text_field :grade %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :color, "Color:" %>
      </td>
      <td>
        <%= f.text_field :color %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :comments, "Comments:" %>
      </td>
      <td>
        <%= f.text_field :comments %>
      </td>
    </tr>
  </table>
  <%= f.submit "Save Range" %>
<% end %>
