<tr>
  <td>
    <%=range.label%>
  </td>
  <td>
    <%=range.beginning%>
  </td>
  <td>
    <%=range.end%>
  </td>
  <td>
    <%=range.grade%>
  </td>
  <td bgcolor="#<%= range.color[2..-1] %>"></td>
  <td><%= link_to_remote "Edit", :url => {:action =>"edit_range", :controller => "mezuro_plugin_profile", :configuration_name => params[:configuration_name], :metric_name => params[:metric_name], :beginning_id => range.beginning} %></td>
    <td><%= link_to "Remove", :action =>"remove_range", :controller => "mezuro_plugin_profile", :configuration_name => params[:configuration_name], :metric_name => params[:metric_name], :range_beginning => range.beginning %></td>
</tr>
