<tr>
  <td>
    <%=range.label%>
  </td>
  <td>
    <%=range.beginning%>
  </td>
  <td>
    <%=range.end%>
  </td>
  <td>
    <%=range.grade%>
  </td>
  <td bgcolor="#<%= range.color[2..-1] %>"></td>
</tr>
