<h2><%= @configuration_name %> Configuration</h2>

<% form_for @metric_configuration, :url => {:action =>"update_metric_configuration", :controller => "mezuro_plugin_profile"}, :method => :get do |f| %>
  <%= hidden_field_tag :configuration_name, @configuration_name %>
  <p>
    <%= f.label :collector_name, "Collector Name:" %>
    <%= @metric_configuration.metric.origin %>
    <%= hidden_field_tag "metric[origin]", @metric_origin %>
  </p>
  <p>
    <%= f.label :metric_name, "Metric Name:" %>
    <%= @metric_configuration.metric.name %>
    <%= hidden_field_tag "metric[name]", @metric_name %>
  </p>
  <p>
    <%= f.label :code, "Code:" %>
    <%= @metric_configuration.code %>
    <%= f.hidden_field :code, :value => @metric_configuration.code %>
  </p>
  <p>
    <%= f.label :aggregation_form, "Aggregation Form:" %>
    <%= f.select :aggregation_form, [["Average","AVERAGE"], ["Median", "MEDIAN"], ["Maximum", "MAXIMUM"], ["Minimum", "MINIMUM"], 
    ["Count", "COUNT"], ["Standard Deviation", "STANDARD_DEVIATION"]] %>
  </p>
  <p>
    <%= f.label :weight, "Weight:" %>
    <%= f.text_field :weight %>
  </p>

  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>


<h5> Ranges </h5><br/>

<table id="ranges">
  <tr>
    <td>
      Label
    </td>
    <td>
      Beginning
    </td>
    <td>
      End
    </td>
    <td>
      Grade
    </td>
    <td>
      Color
    </td>       
  </tr>
  <% if (@metric_configuration.ranges!=nil) 
    @metric_configuration.ranges.each do |range| %>
      <%= render :partial => "range", :locals => {:range => range} %>
    <% end
  end %>
</table>

<br/>
<%= link_to_remote "New Range", :url => {:action =>"new_range", :controller => "mezuro_plugin_profile"}  %>
<div id="new_range" style="display:none"></div>

