<%
url = url_for(:controller => 'vote_plugin_profile', :profile => profile.identifier, :action => :vote, :id => target.id, :model => model, :vote => vote)
reload_url = url_for(:controller => 'vote_plugin_profile', :profile => profile.identifier, :action => :reload_vote, :id => target.id, :model => model, :vote => vote)
%>

<span id="vote_<%= model %>_<%= target.id %>_<%= vote %>" data-reload_url=<%= reload_url %> class="vote-action action <%= action %>-action">

  <%= link_to_remote content_tag(:span, count, :class=>'like-action-counter') + content_tag(:span, '', :class=>"action-icon #{action}"), :url => url, :html => {:class => "#{active ? 'like-action-active':''} #{user ? '':'disabled'}"} %>

  <% if !voters.blank? %>
    <span class="vote-detail">
      <ul>
      <% voters.each do |voter| %>
        <li>
          <%= link_to image_tag(profile_icon(voter, :icon)) + content_tag('span', voter.short_name),
            voter.url, :title => voter.short_name %>
        </li>
      <% end %>
      </ul>
    </span>
  <% end %>
</span>
