<div id="cart1" class="cart" style="display:none">
  <div class="cart-inner">
    <div class="cart-content">
      <h3><%= _("Basket") %></h3>
      <a href="cart:clean" onclick="Cart.clean(this); return false" class="cart-clean"><%=_('Clean basket')%></a>
      <ul class="cart-items"></ul>
      <div class="cart-total"><%=_('Total:')%> <b></b></div>
      <a href="/plugin/shopping_cart/buy" class="cart-buy modal"><%=_('Shopping checkout')%></a>
    </div>
    <a href="#" onclick="Cart.toggle(this); return false" class="cart-toggle">
      <span class="str-show"><%=_('Show basket')%></span>
      <span class="str-hide" style="display:none"><%=_('Hide basket')%></span>
    </a>
  </div>
</div>
<script>
  var shoppingCartPluginL10n = {
    getProblemConfirmReload: <%= (
      _('Ups... I had a problem to load the basket list.') +
      "\n" +
      _('Did you want to reload this page?')
    ).to_json %>,
    maxNumberOfItens: <%= (
      _('Sorry, you can\'t have more then 100 kinds of items on this basket.')
    ).to_json %>,
    waitLastRequest: <%= _('Oops, you must wait your last request to finish first!').to_json %>,
    removeItem: <%= _('Are you sure you want to remove this item?').to_json %>,
    cleanCart: <%= _('Are you sure you want to clean your basket?').to_json %>
  }
</script>
