<div class=product-category-hierarchy>
  <%= hierarchy_category_navigation(@category, :make_links => false)%>
</div>

<div id="category-product-edition">

  <h2><%= @product.name %></h2>

  <div id='request_result_message' style='display: none'></div>

  <%= remote_form_for(@product,
                     :loading => "open_loading('#{ _('loading...') }')",
                     :update => "request_result_message",
                     :url => {:action => 'edit_category', :id => @product},
                     :html => {:method => 'post', :id => 'category_form'}) do |f| %>

    <h3><%= _('Edit category of this product:') %></h3>

    <%= render 'manage_products/selected_category_tree' %>

    <div id='categories_selection_actionbar'>
      <%= button(:back, _('Back to product'), :action => 'show', :id => @product) %>
      <span id='save_and_continue_wrapper'>
        <%= submit_button(:save, _('Save and continue'), :id => 'save_and_continue') %>
        <span class='tooltip' id='save_and_continue_disabled_tooltip'>
           <%= ui_icon('ui-icon-alert') %>
           <%= _('This category does not allow registration of products, select a more specific category') %>
        </span>
      </span>
    </div>

  <% end %>
</div>
