<tr id="empty-field" style='display: none' last_id=<%= counter %>>
  <td style="text-align: left"><%= text_field "fields[#{counter}]", :name, :size => 25 %></td>
  <td><%= select "fields[#{counter}]", :type, type_options, :selected => type_for_options(field.class) %></td>
  <td><%= check_box "fields[#{counter}]", :mandatory %></td>
  <%= hidden_field "fields[#{counter}]", :form_id, :value => @form.id %>
  <td class='actions'>
    <%= button_without_text :edit, c_('Edit'), '', :field_id => counter %>
    <%= button_without_text :remove, c_('Remove'), '#', class: 'remove-field', field_id: counter, data: {confirm: _('Are you sure you want to remove this field?')} %>
  </td>
</tr>
