<% self.extend(CustomFormsPlugin::Helper) %>

<%= error_messages_for :form %>
<%= required labelled_form_field _('Name'), f.text_field(:name) %>

<h4><%= _('Change picture') %></h4>
<% if @form.image && @form.image.valid? %>
	<div id="upload_form_field">
  	<%= image_tag(@form.image.public_filename(:thumb)) %>
	<p><%= f.file_field(:image) %></p>
	<%= labelled_form_field _('Remove image'), f.check_box(:remove_image) %>
	</div>
<% else %>
	<div id="upload_form_field">
	<%= f.file_field(:image) %>
	</div>
<% end %>
<br>

<%= labelled_form_field(_('What is the time limit for this %s to be filled?') % _(@kind), (
  date_range_field('form[begining]', 'form[ending]', @form.begining, @form.ending,
                   { :time => true, :change_month => true, :change_year => true,
                     :date_format => 'yy-mm-dd', :time_format => 'hh:mm' },
                     { :size => 14 })
)) %>


<%= labelled_form_field _('Identifier'), f.text_field(:identifier)%>
<%= labelled_form_field _('Access'), f.select(:access, access_options(profile))%>

<%= labelled_form_field _('Result Access'), f.select(:access_result_options,
                                                     access_result_options)%>
<% if profile.organization? %>
  <p>
  <%= labelled_check_box _('Triggered on membership request as requirement for approval'), 'form[for_admission]', '1', @form.for_admission %>
  <br/>
  <%= labelled_check_box _('Triggered after membership'), 'form[on_membership]', '1', @form.on_membership %>
  </p>
<% end %>
<%= labelled_form_field c_('Description'), f.text_area(:description, :style => 'width: 100%', :class => current_editor('simple')) %>

<%= render partial: @kind, locals: {f: f} %>

<%= button_bar do %>
  <%= submit_button :save, c_('Save'), :cancel => {:action => 'index'}%>
<% end %>

<%= javascript_include_tag 'field' %>
<%= javascript_include_tag 'identifier' %>
