<h2><%= c_('Fields') %></h2>

<ul class='default-field-list'>
  <li>
    <fieldset class="field-box">
      <legend>
        <%= _('This field will be added automatically to your survey') %>
      </legend>
      <%= required f.label :name, c_('Name:') %>
      <%= _('Name') %>
    </fieldset>
  </li>
  <li>
    <fieldset class="field-box">
      <legend>
        <%= _('This field will be added automatically to your survey') %>
      </legend>
      <%= required f.label :name, c_('Name:') %>
      <%= _('Email') %>
    </fieldset>
  </li>
</ul>

<ul class='field-list'>
  <%= f.fields_for :fields do |builder| %>
    <li>
      <%= render partial_for_class(builder.object.class), :f => builder %>
    </li>
  <% end %>
</ul>

<div class="addition-buttons">
  <%= button(:add, _('Add a new text field'), '#', :onclick => "customFormsPlugin.addFields(this, 'fields', #{html_for_field(f, :fields, CustomFormsPlugin::TextField).to_json}); return false")%>
  <%= button(:add, _('Add a new select field'), '#', :onclick => "customFormsPlugin.addFields(this, 'fields', #{html_for_field(f, :fields, CustomFormsPlugin::SelectField).to_json}); return false")%>
</div>
