<div class='join-leave-button require-login-popup'>
  <% if logged_in? %>
    <% if profile.already_request_membership? user %>
      <%= _('Your membership is waiting for approval') %>
    <% else %>
      <% if user.in? profile.members %>
        <%= button :delete, content_tag('span', _('Leave community')), profile.leave_url,
          class: 'leave-community',
          style: 'position: relative;' %>
      <% else %>
        <%= join_community_button(true) %>
      <% end %>
    <% end %>
  <% else %>
    <%= join_community_button(false) %>
  <% end %>
</div>

<%= javascript_tag do %>
  noosfero.add_and_join.locales.leaveConfirmation = <%= (_("Please confirm to leave the community '%{name}'") % {name: profile.name}).to_json %>
<% end %>

