<h3> <%= _('Changing role of %s') % @member.name %> </h3>

<%= labelled_form_for :member, :url => {:action => 'update_roles'} do |f| %>

  <h4><%= _('Roles:') %></h4>
  <% @roles.each do |r| %>
    <%= labelled_check_box(r.name, 'roles[]', r.id, @associations.map(&:role).include?(r) ) %><br/>
    <ul class="role-permissions">
      <% r.permissions.each do |p| %>
        <li> <%= permission_name(p) %> </li>
      <% end %>
    </ul>
  <% end %>
  <% unless @custom_roles.empty? %>
    <h4><%= _('Custom Roles:') %></h4>
    <% @custom_roles.each do |r| %>
    <%= labelled_check_box(r.name, 'roles[]', r.id, @associations.map(&:role).include?(r) ) %><br/>
    <ul class="role-permissions">
      <% r.permissions.each do |p| %>
      <li> <%= permission_name(p) %> </li>
      <% end %>
    </ul>
    <% end %>
  <% end %>
  <%= hidden_field_tag 'person', @member.id %>

  <% button_bar do %>
    <%= submit_button('save',  _('Save changes'), :cancel => {:action => 'index'}) %>
  <% end %>
<% end %>
