<div class='blocked-warning' >
<center><h1><%= _('This enterprise can\'t be activated by the system') %></h1></center>
<p><%= _('Unfortunately this enterprise can\'t be activated via the system.') %></p>
<p>
<% if @enterprise.blocked? %>
  <%= _('There was a failed atempt of activation and the automated activation was disabled for your security.') %>
<% else %>
  <%= _('We don\'t have enough information about your enterprise to identify you.') %>
<% end %>
</p>

<% if @environment.activation_blocked_text.blank? %>
  <%= _('Your enterprise has been blocked') %>
<% else %>
  <%= @environment.activation_blocked_text %>
<% end %>
</div>
