<h1><%= _('Forgot your password?') %></h1>

<%= error_messages_for :change_password, :header_message => _('Instructions to password recovery could not be sent'), :message => nil %>

<%= form_tag do %>
  <%= labelled_form_field fields_label, text_field_tag(:value) %>

  <div>
    <% button_bar do %>
      <%= submit_button('send', _('Send instructions')) %>
    <% end %>
  </div>
  <%= content_tag(:small,_('After clicking the button above, you will receive an email with a link to a page where you will be able to create a new password.')) %>
<% end %>
