<h1><%= _('Enter new password') %></h1>

<p>
<%= _("Hello, %s! Please enter your new password in the form below.") % @change_password.requestor.name %>
</p>

<%= error_messages_for :change_password %>

<%= form_for(:change_password) do |f| %>

  <%= labelled_form_field(_('Enter new password'), (f.password_field :password)) %>
  <%= labelled_form_field(_('Confirm the new password'), (f.password_field :password_confirmation)) %>
  <% button_bar do %>
    <%= submit_button(:ok, _('Change password')) %>
  <% end %>

<% end %>
