<table class='actions'>
  <colgroup>
    <col width="60%">
    <col width="20%">
    <col width="20%">
  </colgroup>
  <tr>
    <th><%= relation_label %></th>
    <th><%= _('Subscribed?') %></th>
    <th><%= _('Actions') %></th>
  </tr>
  <% @collection.each do |related| %>
    <% if related.person?
      person = related
      group = profile
      ongoing_subscription = MailingListPlugin::SubscribeMember.ongoing_subscription?(person, group)
    else
      person = profile
      group = related
      ongoing_subscription = MailingListPlugin::AcceptSubscription.ongoing_subscription?(person, group)
    end %>
    <% subscribed = @client.person_subscribed_on_group_list?(person, group) %>
    <tr>
      <td><%= link_to_profile related.short_name(48), related.identifier, :title => _('View profile') %> </td>
      <td style="text-align: center"><%= subscribed ? _('Yes') : _('No') %></td>
      <%= content_tag('td', :title => ongoing_subscription ? _('Subscription waiting approval') : '') do %>
        <%= button_without_text 'subscribe', _('Subscribe'), {:action => 'subscribe', :id => related.id}, :class => ongoing_subscription ? 'fetching' : '' unless subscribed %>
        <%= button_without_text 'unsubscribe', _('Unsubscribe'), {:action => 'unsubscribe', :id => related.id}, data: {confirm: _("Do you really want to unsubscribe?")} if subscribed %>
      <% end %>
    </tr>
  <% end %>
</table>

<%= pagination_links @collection, {:param_name => 'npage', :page_links => true} %>
