<table id="cart-items-table" cellpadding="2" cellspacing="0"
  border="<%= if by_mail then 1 else 0 end %>"
  style="<%= 'border-collapse: collapse' if by_mail %>">

  <tr>
    <th>
      <%= _('Item name') %>
    </th>
    <th>
      <%= if by_mail then '&nbsp;#&nbsp;' else '#' end %>
    </th>
    <th>
      <%= _('Price') + " (#{@environment.currency_unit})" %>
    </th>
  </tr>

  <% order.items.each do |item| %>
    <tr>
      <td>
        <%= item.name %>
      </td>
      <td class='cart-table-quantity' align="<%= 'center' if by_mail %>">
        <%= item.quantity_consumer_ordered %>
      </td>
      <td class='cart-table-price' align="<%= 'right' if by_mail %>">
        <%= get_price item.product, @environment, item.quantity_consumer_ordered, unit: '' %>
      </td>

    </tr>
  <% end %>

  <tr>
    <td colspan=2 id='delivery-name'>
      <%= order.supplier_delivery.name if order.supplier_delivery %>
    </td>
    <td id='delivery-price' class="cart-table-price">
      <%= float_to_currency_cart order.supplier_delivery.cost(order.total_price), @environment, unit: '' if order.supplier_delivery %>
    </td>
  </tr>

  <th colspan=2 class="cart-table-total-label">
    <%= _('Total:') %>
  </th>
  <th class="cart-table-total-value">
    <%= float_to_currency_cart order.total, @environment %>
  </th>
</table>
