<% cache_timeout(profile.friends_cache_key(params), 4.hours) do %>
  <ul class='profile-list'>
    <% follow.each do |follower| %>
      <%= profile_image_link(follower) %>
    <% end%>
  </ul>

  <div id='pagination-profiles'>
    <%= pagination_links follow, :param_name => 'npage' %>
  </div>
<% end %>

<%= button_bar do %>
  <%= button :back, _('Go back'), { :controller => 'profile' } %>
  <% if user == profile %>
    <%= button :edit, _('Manage followed people'), :controller => 'friends', :action => 'index', :profile => profile.identifier %>
  <% end %>
<% end %>
