<div class='profile-picture' style='float: left; margin-top: 5px'>
  <%= profile_image(profile, :big) %>
</div>

<div class='private-profile-message'><%= @message %></div>
<div class='private-profile-description'><%= profile.description %></div>

<% button_bar do %>
  <% if @action == :join && logged_in? %>
    <%= button(:add, content_tag('span', _('Join')), profile.join_url, :class => 'join-community', :title => _("Join community"), :style => 'position: relative;') %>
  <% end %>
  <% if @action == :add_friend && logged_in? && !user.already_request_friendship?(profile) %>
    <%= button(:add, content_tag('span', _('Add friend')), profile.add_url, :class => 'add-friend', :title => _("Add friend"), :style => 'position: relative;') %>
  <% end %>
  <%= button :back, _('Go back'), :back %>
  <%= button :home, _("Go to %s home page") % environment.name, :controller => 'home' %>
<% end %>
