<% if activity.comments_count > 0 %>
  <span id=<%= "profile-#{tab_action}-activities-comments-more-#{activity.id}" %> class=<%= "profile-#{tab_action}-activities-comments" %> >
    <span class='view-all-comments'>
      <span class="bullet-separator">•</span>
      <%= link_to(font_awesome(:comments, n_('View comment', "View %s comments".html_safe, activity.comments_count) % activity.comments_count),
                  profile: profile.identifier, controller: 'profile', action: 'more_comments', activity: activity, comment_page: 1, tab_action: tab_action) %>
    </span>
  </span>
<% end %>
<ul id=<%= "profile-#{tab_action}-activities-comments-#{activity.id}"%> class=<%= "profile-#{tab_action}-activities-comments" %> ></ul>
<%= render partial: "profile_comment_form", locals: { activity: activity, tab_action: tab_action } if allow_comment? %>
