<div class="join-community-confirmation">

  <h1><%= _('To join %s, you must:') % profile.name %></h1>

  <p>
  <%= _("Authorize the visibility of your email address to the community administrator.") %>
  </p>

  <%= form_tag url_for({:action => :join_modal, :controller => :profile}) do %>
    <%= hidden_field_tag('back_to', @back_to) %>
    <%= submit_button(:ok, _("Authorize")) %>
    <%= modal_close_button _("Cancel") %>
  <% end %>

</div>

