<div class="common-profile-list-block">

<h1><%= _("%s's members") % profile.name %></h1>

<% cache_timeout(profile.members_cache_key(params), 4.hours) do %>
  <ul class='profile-list'>
    <% @members.each do |member| %>
      <%= profile_image_link(member) %>
    <% end %>
  </ul>

  <div id='pagination-profiles'>
    <%= pagination_links @members, :param_name => 'npage' %>
  </div>
<% end %>

<% button_bar do %>
  <%= button :back, _('Go back'), { :controller => 'profile' } %>
  <% if profile.community? and user %>
    <% if user.has_permission?(:invite_members, profile) %>
      <%= button :person, _('Invite people to join'), :controller => 'invite', :action => 'invite_friends' %>
    <% end %>
    <% if user.has_permission?(:send_mail_to_members, profile) %>
      <%= button :send, _('Send e-mail to members'), :controller => 'profile', :action => 'send_mail' %>
    <% end %>
  <% end %>
<% end %>

</div><!-- fim class="common-profile-list-block" -->
