<div id="user">
  <% user = (session[:user] && User.find_by(id: session[:user])) || nil %>
  <% if user.present? %>
    <% user = user.person %>
    <span class='logged-in'>
      <%= usermenu_logged_in %>
    </span>
  <% else %>
    <span class='not-logged-in'>
      <%= usermenu_notlogged_in %>
      <% @plugins.dispatch(:alternative_authentication_link).collect do |content|%>
         <%= instance_exec(&content) %> 
      <%end%>

      <div id='inlineLoginBox' style='display: none;'>
        <%= render :file => 'account/login', :locals => { :is_popin => true } %>
      </div>

      <% unless @plugins.dispatch(:allow_user_registration).include?(false) %>
        <%= usermenu_signup %>
      <% end %>
    </span>
  <% end %>
  <form action="/search/articles" id="top-search" class="search_form clean" method="get">
    <input name="query" size="15" title="<%=_('Search...')%>" onfocus="this.form.className='focused';" onblur="this.form.className=''" />
    <div><%=_('Press <strong>Enter</strong> to send the search query.').html_safe%></div>
    <%= javascript_tag 'jQuery("#user form input").hint();' %>
  </form>
</div><!-- end id="user" -->
